[2021-07-08 01:03] sudo-bmitch commented on #3452
The examples there are all for a single layer. It sounds like the concerns from the buildx maintainers were that they would violate the [manifest definition of layers](https://github.com/opencontainers/image-spec/blob/master/manifest.md) with a multi-layer manifest:

I think sorting this one out will be best handled on the OCI side by clarifying the specs, and then distribution/distribution can fo

[2021-07-08 14:19] lengrongfu commented on #3451
@milosgajdos I hope you can take the time to reply to this question, thanks.

[2021-07-12 07:37] justadogistaken opened #3453 "cache same layer for images."
For example, there are two images: repo.1.com/test:latest, repo.2.com/test:latest. And they have same layer like sha256:abc***.

If I go `docker pull repo.1.com/test:latest` and `docker pull repo.2.com/test:latest` successively. And the request for pulling sha256:abc*** won't go to the registry, so the registry can't register link for sha256:abc*** under repo.2.com. So at the next time I go `docke

[2021-07-12 12:14] petr-ujezdsky opened #3454 "`docker build --pull` does not respect insecure registries configuration"
Standard `docker pull <url>` works fine. But building from `Dockerfile`
[code]
using `docker build -t my-image --pull .` will fail. It is using `https` instead of `http`:

[code]

**It seems like the `docker build --pull` flag does not respect insecure registries configuration as the `docker pull` does.**

[code]

[code]

[2021-07-12 19:03] brackendawson commented on #3454
I think think this issue would be best triaged by https://github.com/docker/cli, it's almost certainly not an issue in distribution.

[2021-07-12 19:24] brackendawson commented on #3453
From your description, it is not clear to me what the issue is here. It sounds like you are describing how a registry works, but "*I still need to pull from repo.2.com instead of registry*" does not make sense because repo.2.com would be a registry.

Can you expand on your issue with these sections command by command please:
* What I did
* What happened
* What I expected to happen

[2021-07-13 08:24] justadogistaken commented on #3453
@brackendawson Sorry, I found that I might not make the issue clear.
### What I did
1. turn on the registry cache ability.
2. `docker pull repo1/test:latest`
3. `docker pull repo2/test:latest`
4. `docker rmi repo2/test:latest`
5. `docker pull repo2/test:latest` again
note: repo1/test:latest and repo2/test:latest have a common layer like sha256:abc***

### What happened
The second time `docker pull

[2021-07-13 09:47] petr-ujezdsky commented on #3454
Moved to https://github.com/docker/cli/issues/3186, thanks

[2021-07-13 09:47] #3454 closed

[2021-07-13 21:44] joaodrp commented on #3452
I raised an issue to discuss the Buildkit use case: https://github.com/moby/buildkit/issues/2251

[2021-07-13 23:44] SteveLasker commented on #3452
I'm a 👍 to solve this in a more consistent way, such as (https://github.com/moby/buildkit/issues/2251). That said, those that run instances of this project shouldn't be blocked, so I'm torn in not wanting to suggest gitlab or others running distribution instances shouldn't find a way to meet their customers needs and driving a consistent solution.
In all fairness, ACR did enable buildx support, no

[2021-07-13 23:44] SteveLasker commented on #3452
I'm a 👍 to solve this in a more consistent way, such as (https://github.com/moby/buildkit/issues/2251). That said, those that run instances of this project shouldn't be blocked, so I'm torn in not wanting to suggest gitlab or others running distribution instances shouldn't find a way to meet their customers needs and driving a consistent solution.
In all fairness, ACR did enable buildx support, no

[2021-07-14 12:33] jcferaud opened #3455 "ld"

[2021-07-14 12:59] #3455 closed

[2021-07-15 07:30] dirkmueller commented on #3311
we had already commits, is there any way the current state of things can be released as a new version? it would be kinda nice to have a new release of things at least every 6 months.

[2021-07-15 22:21] mxmeinhold opened #3456 "Proposal: Pass s3 'Slow Down' responses to the client"
I recently had an issue where clients were pushing things fast enough to start getting `Slow Down` 503 errors from S3, but all clients were seeing were generic 500 errors. I'd like to pass the 503 code back to the client, so that it's clearer what the issue is and clients are able to respond to the error without having to have access to the registry logs or reaching out to me to look for them.

I'

[2021-07-16 02:39] toothbrush opened #3457 "pull-through cache: Password with special characters causes 404s"
Here's a funny one i encountered.  I thought i was going crazy til i isolated the issue.  I'm running `registry:2.7.1` as a pull-through cache, for official Docker Hub.  I use it to pull both public and private images.  It works fine, unless i change the password of the proxy user to something with certain specials, e.g., `#asdf32423ZCXXCZM#kjjk$abc&123ASD` (i have since rotated the password, don'

[2021-07-18 16:01] wibbly13 commented on #1736
`-e REGISTRY_STORAGE_MAINTENANCE_READONLY={"enabled":false}` worked for me.

[2021-07-20 17:24] brackendawson commented on #3361
The dependency is now maintained at github.com/golang-jwt/jwt and v3.2.1 contains the fix. I think we should add this to the 2.7.2 milestone.

[2021-07-21 16:04] liangyuanpeng commented on #3453
I think this `cache registry` is say `local blobs `.

[2021-07-22 03:44] dy21335 commented on #3454
did u solve your problem? i have the same problem and don't know how to fix it...

[2021-07-22 05:53] liangyuanpeng commented on #3355
Maybe we can add metrics `registry_http_request_code` first for http status code, like 200,404,400 and i want to work for it.

[2021-07-22 12:41] justadogistaken commented on #3453
@liangyuanpeng Yes, this is what I mean.

[2021-07-22 15:42] howardjohn opened #3462 "Tag a v3 git release"
Currently, a large portion of the golang community is stuck on the v2 tags.

v3: 7 users https://github.com/search?l=&q=github.com%2Fdistribution%2Fdistribution%2Fv3+filename%3Ago.mod&type=code
v2: 3197 users https://github.com/search?q=github.com%2Fdocker%2Fdistribution+filename%3Ago.mod&type=code

I think one aspect of this is there is no git tag. Many projects only like to depend on tagged rele

[2021-07-22 16:10] deleteriousEffect commented on #3462
@howardjohn we're planning on releasing a new v2 tag that will include non-breaking changes, while reserving v3 releases for any breaking changes.

[2021-07-22 19:48] genesi5 commented on #1797
@dgoo2308  I suppose i'ts too late, but in case somebody will encounter this:

Had problem like yours, same error, same message in registry's log. The problem is that was sending a request with wrong header:

[code]
while i had to use this:
[code]

[2021-07-23 21:09] readyready15728 opened #3463 "“docker container top” fails with error regarding runc termination: "getting all container pids from cgroups caused: lstat : no such file or directory""
I've [posted the same on the Docker Forums](https://forums.docker.com/t/docker-container-top-fails-with-cryptic-error-regarding-runc-termination/112890) and not gotten an answer after a few days and, in addition to a thorough hunt on Google for similar reports, I also found nothing, so I'm pretty sure this is a novel report here. Forgive me if I overlooked something obvious to an expert, because I

[2021-07-26 02:54] infogulch commented on #1662
@adamcohen @deitch I'm trying to figure out how to go from the `RootFS->Layers[]` / `shasum -a 256 xxx/layer.tar` to a LayerID that can be downloaded from the registry blobs endpoint `https://registry.hub.docker.com/v2/$repo/$image/blobs/$what_is_this_sha256_value`.

How does the layer.tar hash relate to the final layer id / blob hash for that layer?

[2021-07-26 13:29] deleteriousEffect commented on #3463
@readyready15728 please open an issue at https://github.com/moby , this project is for the container registry, rather than the local docker tools.

[2021-07-26 13:29] #3463 closed

[2021-07-29 15:48] brackendawson opened #3467 "[release/2.7] github.com/miekg/dns is vulnerable to CVE-2017-15133"
We use a revision of github.com/miekg/dns [older than v1.0.0](https://github.com/miekg/dns/commits/271c58e0c14f552178ea321a545ff9af38930f39) https://github.com/distribution/distribution/blob/18230b7b345a6745233a114bfc54524092dbca3f/vendor.conf#L24

[code]

[2021-07-29 15:53] brackendawson opened #3468 "[release/2.7] golang/golang.org/x/crypto is vulernable to CVE-2017-3204 & CVE-2019-11840"
We import a vulnerable version of golang/golang.org/x/crypto: https://github.com/distribution/distribution/blob/18230b7b345a6745233a114bfc54524092dbca3f/vendor.conf#L38
[code]

[2021-07-29 15:58] brackendawson opened #3469 "[release/2.7] golang.org/x/net is vulnerable to CVE-2018-17075, CVE-2018-17142, CVE-2018-17143, CVE-2018-17847, CVE-2018-17848 & CVE-2018-17846"
We import a vulnerable version of golang.org/x/net: https://github.com/distribution/distribution/blob/18230b7b345a6745233a114bfc54524092dbca3f/vendor.conf#L39
[code]

[2021-07-29 15:58] thaJeztah commented on #3467
Looks like a false positive. The CVE is in the DNS server component of miekg/dns (see https://github.com/miekg/dns/pull/631), and the only purpose it's used for in this repository's codebase is for the client  parts (in the github.com/xenolf/lego dependency); https://github.com/distribution/distribution/blob/release/2.7/vendor/github.com/xenolf/lego/acme/dns_challenge.go

[2021-07-29 16:05] thaJeztah commented on #3469
Looks like a false positive; this project does not consume the `golang.org/x/net/html` package; https://github.com/distribution/distribution/tree/v2.7.1/vendor/golang.org/x/net

[2021-07-29 16:06] brackendawson opened #3471 "[release/2.7] gopkg.in/square/go-jose is vulnerable to CVE-2016-9121, CVE-2016-9122 & CVE-2016-9123"
We use a version of gopkg.in/square/go-jose.v1 [older than 1.0.1](https://github.com/square/go-jose/commits/40d457b439244b546f023d056628e5184136899b): https://github.com/distribution/distribution/blob/18230b7b345a6745233a114bfc54524092dbca3f/vendor.conf#L47
[code]

[2021-07-29 16:08] brackendawson commented on #3467
Thanks @thaJeztah, shall we close this issue as consumers of 2.7.2 will be able to link to your statement for their audit stuff?

[2021-07-29 16:11] thaJeztah commented on #3468
[CVE-2017-3204](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-3204) is a false positive; it affects the golang.org/x/crypto/ssh package (https://github.com/golang/crypto/commit/e4e2799dd7aab89f583e1d898300d96367750991), which is not used by this repository: https://github.com/distribution/distribution/tree/v2.7.1/vendor/golang.org/x/crypto

[CVE-2019-11840](https://cve.mitre.org/cgi-bin/

[2021-07-29 16:17] thaJeztah commented on #3471
This dependency is only used by `github.com/xenolf/lego`, as part of the letsencrypt functionality. I _think_ that functionality was broken on 2.7, so unlikely to be used, but https://github.com/distribution/distribution/pull/3134 backports a change to remove it altogether, and replace it with a different implementation.

/cc @milosgajdos

[2021-07-29 16:18] thaJeztah commented on #3467
Perhaps others should double-check, but overall, I think we should be "ok", and no need to update.

I should also link my comment on https://github.com/distribution/distribution/issues/3471#issuecomment-889282384, because the same applies to this one.

[2021-07-30 23:24] thaJeztah commented on #3417
There was an old discussion on this in https://github.com/Azure/azure-kusto-go/issues/51 (where they didn't want to switch), but looks like they made up their mind, and https://github.com/Azure/azure-sdk-for-go/issues/14283 removed that dependency, which was released in v52.0.0; https://github.com/Azure/azure-sdk-for-go/pull/14355

[2021-08-01 13:47] dgoo2308 commented on #1797
@genesi5 never too late, thanks

[2021-08-05 09:51] leandrocostam commented on #3275
I'm also facing the same issue.

[2021-08-06 08:39] leandrocostam commented on #3013
Can we close this issue?
https://github.com/distribution/distribution/pull/3124

[2021-08-07 11:01] lengrongfu opened #3473 "distribution add tracing"
I have observed that the current kubernetes project has been approved through [tracing](https://github.com/kubernetes/enhancements/issues/647), and [PR](https://github.com/kubernetes/kubernetes/pull/94942) has been merged, and contained has also supported the tracing function, and [PR](https://github.com/containerd/containerd/pull/5731) has also been merged. I think it is time to add the tracing f

[2021-08-07 11:02] lengrongfu commented on #3473
https://github.com/distribution/distribution/issues/3451

[2021-08-08 10:15] milosgajdos commented on #3473
You PR has broken tests as you surely noticed. Until the tests are passing we can't do anything about it.

[2021-08-08 10:15] #3473 closed

[2021-08-10 07:48] alexp1917 commented on #3149
running into this as well, what is key id _supposed_ to be?

[2021-08-10 08:00] wy65701436 commented on #3203
IMO, the epic can be closed.

[2021-08-10 12:16] alanj853 commented on #2807
Any update on when a release will be done that includes this feature? I am using docker version 20.10.8, and I am still getting the error:
[code]

[2021-08-10 12:45] thaJeztah commented on #3203
Do we need to verify all the linked issues if they've been addressed (and can be closed)?

[2021-08-11 03:17] lengrongfu opened #3475 "CI Workflow Error"
The following error is reported during the Build phase of running the CI pipeline. What causes it?
![image](https://user-images.githubusercontent.com/15009201/128964108-7aaa9aa8-43d0-4afd-b937-09fd7e63a035.png)

[2021-08-11 03:18] lengrongfu commented on #3451
issue： https://github.com/distribution/distribution/issues/3475

[2021-08-11 03:25] lengrongfu commented on #3451
Test Env:
    Mac
    Docker: 20.10.7

Otel:
   docker-compose up -d
[code]
distribution:
[code]

Effect：

![image](https://user-images.githubusercontent.com/15009201/128964348-d67dc640-06e5-4ecf-ac1a-f4bb6c667b0f.png)

[2021-08-11 05:55] wy65701436 commented on #3430
distribution/helm-charts +1

[2021-08-12 12:10] jpengenheiro opened #3476 "replicated services: underflow errors and ignored options"
I recently detected two problems while dealing with service jobs:

1. When trying to configure a replicated service I found docker ignores the `--replicas 1` and user `--mode global-job` instead.

1. on certain service configurations, an underflow error is produced and docker attempts to retry the service, effectively leading to a loop ignoring `--restart-max-attempts 0` and `--restart-condition n

[2021-08-12 12:48] lemmy04 opened #3477 ""docker pull" uses ::1 as dns resolver instead of what is configured in /etc/resolv.conf"
I have been getting this error way too often:

[code]

Why is the docker command trying to use ::1 as dns resolver when there is a perfectly good and working one in /etc/resolv.conf?

[2021-08-12 13:09] justincormack commented on #3476
Hi, this repo is for distribution (registry) code, Swarm code is at https://github.com/docker/swarmkit

[2021-08-12 13:09] #3476 closed

[2021-08-12 15:10] deleteriousEffect commented on #3477
Please open an issue for https://github.com/moby/moby. This project is for the container registry, rather than the local toolchain running on your machine.

[2021-08-12 15:10] #3477 closed

[2021-08-12 15:51] CollinShoop commented on #3142
@brackendawson I ran into this same issue and submitted a fix 👍🏻

[2021-08-12 16:23] mwek commented on #3437
This is already fixed on the `main` branch (`aws-sdk-go` version [is v1.34.9](https://github.com/distribution/distribution/blob/38ab4c606ee367e5558fe89b5c4475ed4e1f5b8c/go.mod#L9)), but is not fixed in the `release/2.7` branch (`aws-sdk-go` [is v1.15.11](https://github.com/distribution/distribution/blob/61e7e208239878249a7ee4dae3c16c2d08a32d19/vendor.conf#L4))

[2021-08-12 19:57] clbx commented on #2042
This fixed an issue I was having with pushing to Nexus thank you @mMohamed451

[2021-08-13 14:53] lengrongfu commented on #3475
resolve

[2021-08-13 16:24] dylanlingelbach commented on #3437
Is there an ETA for when this fix will show up in a release?

[2021-08-13 21:17] SteveLasker opened #3482 "Create branch to incubate referenctTypes in distribution/distribution"
While capturing the [Notary v2 project requirements](https://github.com/notaryproject/notaryproject/blob/main/requirements.md), we identified the need to have reference types, enabling any artifact to associate itself with an existing artifact.
This would enable a graph of objects to be represented within a registry, including Signatures, SBOMs, Signatures of SBOMs, Security Scan results, and more

[2021-08-14 02:06] waynr commented on #3482
Wouldn't this potentially lead to a divergence between main and the proposed reference types branch? Why not just target main directly with the experimental flag, disabled by default?

[2021-08-14 02:34] SteveLasker commented on #3482
That does make more sense.

[2021-08-16 01:00] alexp1917 opened #3483 "Missing documentation on error fields in /docs/spec/auth/token.md"
the "Token Response Fields" section contains fields for a successful entry but does not explain what kinds of fields are going to be unmarshalled for an unsuccessful response from the token service. it looks like it expects an array of objects with properties `code`, `message`, `detail(s?)`, so it would be good to either include that here or link from here to wherever this information belongs.

By

[2021-08-16 01:33] alexp1917 commented on #3483
there is something [here](https://docs.docker.com/registry/spec/api/#errors)

[2021-08-16 14:40] #3142 closed

[2021-08-16 17:10] dvianello commented on #3438
Having the same issue here, both with filesystem and S3 storage driver.

[2021-08-17 18:09] jmacelroy opened #3484 "CVE-2021-36159 present in alpine 3.12 used for base image."
The vulnerability is not present if the Dockerfile uses alpine 3.14 instead.

[2021-08-17 18:42] thaJeztah commented on #3484
https://github.com/distribution/distribution/pull/3474 updates the image to alpine 3.14.

If I understand the CVE correctly, the risk is that information can be leaked from the client that's using apk. In this case, during build, it's executed in a clean alpine image (so no relevant data should be present that can leak)

For consumers of the image it could be a concern if they install additional p

[2021-08-19 07:59] #3484 closed

[2021-08-23 16:23] switchboardOp commented on #3275
As far as I can tell, no.

[2021-08-24 19:15] switchboardOp commented on #3275
Yesterday i built this docker image from `master` and was able to use IRSA.
As far as I can tell though the changes from #3245 are not present in any of the most recent tags on Docker Hub.

Not being familiar with the build/release cadence of this project I wonder what it takes to get a new dot release built and pushed.

[2021-08-31 10:56] dschwoerer opened #3491 "Password reset insecure"
Trying to reset my password, I got a link like `http://email.notify.docker.com/c/<token>`

However, while the token should contain enough entropy to withstand a brute-force-attack, HTTPSEverywhere is blocking the request, as email.notify.docker.com does not speak https.

As this, allowing this request unencrypted would defeat the purpose of the token, as it is very easy to intercept the request an

[2021-08-31 13:44] #3491 closed

[2021-08-31 18:17] SteveLasker commented on #3482
Tagging @aviral26 for the work under https://github.com/oras-project/distribution to add a feature flag to enable the artifact/reference type support.

[2021-09-01 01:42] wangdwcsd opened #3492 "can not use swift ，docker push Retrying"
1.registry config:
`storage: swift: authurl: http://172.18.194.245:8865/v3 username: harbor_test_usr1 container: containername region: BeiJing45 tenant: harbor_test domain: default cache: layerinfo: redis maintenance: uploadpurging: enabled: false delete: enabled: true redirect: disable: false`

2.docker push error:
`The push refers to repository [172.21.9.35:30567/test/configmap-reload]

5f70bf18

[2021-09-02 22:33] thaJeztah commented on #3491
@dschwoerer I saw your post here (not the right issue tracker, but thanks for reporting!)

I notified the Docker Hub team on our internal slack, and they're currently working on a fix (should be rolled out in the next couple of days)

[2021-09-05 15:53] milosgajdos commented on #3361
Closing this as it should be fixed by #3138

Feel free to reopen if you disagree. 2.7.x fix is tracked under #3465

[2021-09-05 15:53] #3361 closed

[2021-09-06 11:02] bitsf opened #3493 "Feature: add an extra endpoint for s3 storage backend"
When we setup an internal s3 compatible storage backend and want to enable redirect for blobs pulling, registry distribution will use only one endpoint for pulling and pushing, that would make network for pushing. I hope to add a extra endpoint to separate the operation.
The setting can be added in config.yml
[code]

or add in `redirect` section
[code]

[2021-09-07 01:53] wy65701436 commented on #3493
We can bind these two issues? https://github.com/distribution/distribution/issues/3139

[2021-09-07 10:20] op-euga opened #3494 "host.docker.internal does not resolve when using dns entries in daemon.json"
When some DNS servers are defined in the daemon.json the host.docker.internal is not accessible any in any container. If the dns section in the daemon.json is not set at all, the host.docker.internal can be resolved. I use Docker for Mac without any special config except for the dns.
I tried to add the docker network host 192.168.65.1 as well as my local ip from the network adapter as a dns entry,

[2021-09-09 03:46] passcod opened #3496 "Range syntax is incompatible with actual implementation and inconsistent within the spec"
Quoth the spec:

Let's especially highlight the two possible responses:

On range error:

On success:

The **`Range` header syntaxes are inconsistent**! Which one is right?

- As per [the HTTP standard](https://httpwg.org/specs/rfc7233.html#header.range) ([mdn](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Range)): `Range: bytes=M-N`
- As per [the registry source](https://github.com/di

[2021-09-09 19:55] josegomezr commented on #625
I ran into this problem too.

I wanted to configure an Storage Middleware and only could do it with @lifeisfoo solution.

In spirit of trying to find a solution, I did write some Go Code (taken that I'm not a native go developer) and with my naive approach I could make what @tboerger  suggested work.

However I don't quite know how to contribute this, or if there's a pending discussion or if it's

[2021-09-10 03:55] ebilling commented on #3471
Are you planning on cutting a release?  Last one is 2.7.1 which is from January 2019?

[2021-09-10 12:04] alfredkrohmer commented on #3438
Can confirm, some layers are simply not cached.

[2021-09-10 12:12] milosgajdos commented on #3438
Feel free to open a PR @justadogistaken

[2021-09-13 15:17] milosgajdos commented on #625
Feel free to open a PR @josegomezr; just follow the contributor guidelines in the README :)

[2021-09-16 11:58] maxboone commented on #2367
Does this cache expiration also happen when garbage collections do not run, we are running into a very similar problem but don't seem to find any deletions of blobs in the debugging logs. Only storage deletions that we can find in the logs are like `s3aws.Delete("/docker/registry/v2/repositories/docker/.../.../_uploads/`.

At a certain moment after a push (not even sure if this is instant, or if t

[2021-09-21 16:42] sanjivsharmalv opened #3500 "> For Docker version 18.09.2, I followed https://success.docker.com/article/using-systemd-to-control-the-docker-daemon"
@santhoshkumarhirekerur  Thank you.  That link finally fixed mine.  That was 5 hours of pulling my hair out.  I wish I could buy you a beer!

_Originally posted by @ambrosektal in https://github.com/distribution/distribution/issues/1874#issuecomment-601843187_

[2021-09-21 16:45] sanjivsharmalv commented on #3500
I am facing the same issue. Docker version 20.10.8, build 3967b7d. In the command (sudo systemctl edit docker)what is the location of docker file.
To repeat my error is as follows:
The push refers to repository [docker.local:5000/mb-api-rest]
Get "https://docker.local:5000/v2/": http: server gave HTTP response to HTTPS client

[2021-09-21 17:07] sajayantony commented on #1624
@sudo-bmitch This is another issue that tries to expose the options available on a registry -
https://github.com/opencontainers/distribution-spec/pull/111

Converging on this will enable the [artifacts spec](https://github.com/oras-project/artifacts-spec) - to come under `/v2` and will address the ACL issues we discussed on the call today and help providers who have ingress rules on this path.

[2021-09-22 18:57] robbrucks commented on #1948
@airadier **Thank you very much for providing that script!  It fixed the issue for us as well!**

Many thanks!

[2021-09-24 16:50] malikumaliku opened #3501 "please provide binaries on the releases"
Currently I extract windows binary from https://hub.docker.com/layers/stefanscherer/registry-windows/

Please provide binaries in the same way that containerd releases

[2021-09-25 06:16] carru93 opened #3502 "Docker compose down -v showed me the docker version"
I tried to use command
[code]
And the unexpected output was:
[code]
Then i repeated the same command and it successfully stopped and removed the containers.

[2021-09-25 17:15] cslanjian commented on #3198
Have you solved it, got the same problem

[2021-09-26 09:24] milosgajdos commented on #3502
Please open an issues on compose repo. This is the repo that track development of registry.

[2021-09-26 09:24] #3502 closed

[2021-09-26 09:26] milosgajdos commented on #3198
Please open a question at moby repo. Thanks.

[2021-09-26 09:26] #3198 closed

[2021-09-26 14:34] foreverchens opened #3503 "I am confused about put /v2/{name}/manifest/{tag} api, and I haven’t been able to call it successfully so far"
I am using the docker registry api to complete the push of the docker image. I have completed the push of all the previous blobs, but I encountered a problem when pushing the manifest at the end. I hope to get help here.
--
I checked the container log through the docker logs command and found that the error message was:   **err.code="manifest invalid" err.detail="invalid format length" err.message

[2021-09-27 16:57] deleteriousEffect commented on #3503
@foreverchens what version of the registry are you attempting to push to?

[2021-09-27 19:26] aamagzoub commented on #1529
From your command, I am getting the following output:

HTTP/1.1 401 Unauthorized
Server: nginx/1.21.3
Date: Mon, 27 Sep 2021 19:25:17 GMT
Content-Type: application/json; charset=utf-8
Content-Length: 149
Connection: keep-alive
Docker-Distribution-Api-Version: registry/2.0
Www-Authenticate: Basic realm="Registry-Realm"
X-Content-Type-Options: nosniff

No digest !!

[2021-09-27 19:42] aamagzoub commented on #1529
After running the command, I am getting the following error:

`{"errors":[{"code":"MANIFEST_UNKNOWN","message":"manifest unknown"}]}`

Any advice ?

[2021-09-27 20:14] sajayantony commented on #1529
What is your accept header?  I believe the default might down convert to `Content-Type: application/vnd.docker.distribution.manifest.v1+prettyjws` which will give you a digest that might be the one that the client might have pushed. For e.g. below request with `Accept: application/vnd.docker.distribution.manifest.v2+json`

[code]

Check if you can access the manifest using the digest -
[code]

[2021-09-27 20:58] AlexChung1995 opened #3504 "--kernel-memory not recognizing anon pages"
Hello,
hoping you could help me understand how docker monitors kernel memory usage and kills container when that limit is reached.

We have the following go program running in a container based on alpine:3.12

`package main
import (
        "log"
        "time"

        "github.com/google/gopacket"
        "github.com/google/gopacket/pcap"
)
func main() {
        log.Println("starting server")

[2021-09-27 21:03] milosgajdos commented on #3504
Please open an issue on Moby repo. This is a distribution aka registry repo.

[2021-09-27 21:03] #3504 closed

[2021-09-28 16:26] sidboy55555 opened #3505 "Docker + Hugepages causes soft/hard lockup"
Hi,
Today I came across a problem with docker, when I'm using a program inside it, which uses hugepages.

The problem occurs when stopping the container where a program uses hugepages, or when killing/stopping the program inside the container. And I'll if lucky~ some logs back in the console, other times it just disconnects and I have to hard reboot my server.

I had the same setup before with deb

[2021-09-28 16:57] milosgajdos commented on #3505
Please open an issue on Moby repo. This repository is for distribution aka registry.

[2021-09-28 16:57] #3505 closed

[2021-10-04 13:58] namnx228 opened #3506 "Documentation mismatched!"
I notice that the `minimumtls` field is introduced in the doc: https://github.com/distribution/distribution/blob/main/docs/configuration.md#tls, leading to the general docker document having the same info: https://docs.docker.com/registry/configuration/#tls. However, we have not yet had this configuration in the registry latest release and in the official docker image. Therefore, the doc is now in

[2021-10-04 14:42] thaJeztah commented on #3506
I suspect this is because the docker documentation uses the `release/2.7` release branch as source for the documentation. Under normal ("most") situations, this should match the latest release from that branch (new features generally aren't back ported, only bug fixes, which don't bring user-facing changes), but it looks like https://github.com/distribution/distribution/pull/3384 back ported this

[2021-10-05 21:08] sorenwacker opened #3507 "How to create network connection into remote docker stack?"
Hi, I am struggling to set this up correctly. I am trying to run an app with `docker stack deploy` on a remote machine. The following app works, when I deploy it with `docker swarm deploy` on my windows notebook. But when I run it on the linux cluster. I cannot connect to it. If can help me to identify the missing piece here? When I run the app locally, I get some output from `curl localhost:8000`

[2021-10-05 22:53] #3507 closed

[2021-10-06 22:55] szampardi opened #3508 "issues running registry code from main branch"
[code]

[2021-10-07 11:35] speller opened #3509 "Proposal: Add docker credentials helpers support"
The pull-through cache for private repos requires static login and password configuration. At the same time, some registries have short-living credentials and provide helpers to for the docker daemon to obtain credentials from whatever source they want. It would be nice if the distribution library will also support external helpers for dynamic authentication in proxied private registries.

[2021-10-07 16:25] khatamnejad opened #3510 "Docker Considers "Administered Port Exclusions" as Inaccessbile"
I am using Docker Desktop on Windows 10 and am using Windows containers.

I have a container which uses a UDP port (in my case it is 60001) for communications. However the container fails to run with the following error:
[code]
After some investigations I realized that the issue is caused by the fact that the port is part of "Administered Port Exclusions" as I had previously reserved this port usi

[2021-10-07 16:30] #3510 closed, assigned to nobody

[2021-10-14 22:04] sajayantony opened #3512 "Proposal: Adding extension API support"
As a follow up of the the extension proposal discussed during the OCI call the issue below outlines a proposal for an extensions model to distribution API.  The goal here is to provide a reference implementation that would demonstrate adding capabilities to support scenarios like reference artifacts for an image.

[opencontainers/distribution-spec#111 - extension proposal](https://github.com/openc

[2021-10-21 03:55] wyckster opened #3514 ""Does" match or "does not" match?"
https://github.com/distribution/distribution/blob/a27b0c49521b78bd7f27415220f1571fa8e9839b/registry/handlers/manifests.go#L313

Why does the error message in the line of code above say `"payload digest does match: %q != %q"`?  Shouldn't it say **does not match**?

[2021-10-21 07:10] milosgajdos commented on #3514
Yes, it should say does not match. Feel free to open a PR with fix

[2021-10-22 08:29] jprecuch opened #3516 "Vulnerability to SWEET32 ciphersuite"
We scanned our registry and it was found it is vulnerable for SWEET32 attack (High Vulnerabilities SSL Medium Strength Cipher Suites Supported (SWEET32) with this configuration for http:
[code]
When I checked documentation the defaults ciphers should be https://docs.docker.com/registry/configuration/
[code]
The one that causes sweet32 seems to be mentioned only in Allowed ciphers not the defaults:

[2021-10-22 09:01] #3516 closed, assigned to nobody

[2021-10-27 10:53] edgelone opened #3521 "How to create multi S3 drivers with diffrent buckets?"
I use S3-aws as the storage driver, but the driver config effective global, I want to switch bucket when I upload or get file  from S3, Is there a good solution? Thanks for helping me!

[2021-11-04 06:44] sunminjeon opened #3524 "In which branch can I find the Docker Registry 2.7.1 source provided by Docker Hub?"
If I want to check the source of the docker registry 2.7.1 version provided by docker hub, in which branch can I check it?
(https://hub.docker.com/_/registry?tab=tags)

The contents of the docker registry 2.7.1 image provided by docker hub and source of 'release/2.7' branch seem to be different.

1.docker registry 'release/2.7' branch

 registry github.com/docker/distribution v2.7.1-34-g691e62e7.m

[2021-11-04 10:15] brackendawson commented on #3524
A branch is not what you are looking for, the [`v2.7.1`](https://github.com/distribution/distribution/releases/tag/v2.7.1) tag is.

2.7.1 was released before Docker donated the distribution project to the CNCF, so the repo was called github.com/docker/distribution back then, but the code is the `v2.7.1` tag on the `release/2.7` branch in this repository. The `release/2.7` branch has since had chan

[2021-11-04 10:24] mastersingh24 commented on #3509
Would be great to see this.  I'd be happy to submit a PR if the project will accept it.

[2021-11-04 14:38] wyckster commented on #3514
Fixed in #3515.  Thanks for merging.

[2021-11-04 14:38] #3514 closed

[2021-11-05 02:32] sunminjeon commented on #3524
@brackendawson

Thanks for your confirmation.

But in [docker hub](https://hub.docker.com/_/registry?tab=tags), the last update date of version 2.7.1 is 2 months ago.
[v2.7.1](https://github.com/distribution/distribution/releases/tag/v2.7.1) was released 18 Jan 2019.

The last update time is different, is it the same source?

And are these two things the same?

[2021-11-05 10:34] brackendawson commented on #3524
It certainly should be the same source as the `v2.7.1` tag, the repo that builds the image is actually here https://github.com/docker/distribution-library-image and Docker still own that and the library images on hub. It appears to contain a checked in binary.

As Go builds are reproducible and the 2.7.1 tag has a vendor directory you should be able to confirm that the source is unchanged yourself

[2021-11-05 10:41] milosgajdos commented on #3524
I would also encourage you to avoid `2.7.1.` as much as possible. It's not being actively maintained so to speak. It's received a few security patches, but the general plan is to focus on the `main` branch development, etc.. So, beware of that @sunminjeon

[2021-11-08 02:06] bluefriday commented on #3524
@milosgajdos
May I know if there are any plans to release version 2.7.2?

[2021-11-08 08:17] milosgajdos commented on #3524
There was, yeah, but it stalled over the summer. We need to revive it. But as I said, when it happens it will only contain security patches, etc.

[2021-11-09 18:14] kdopen commented on #3292
@zenbones Did you actually get this working?  I was hunting for a pull request or branch implementing this feature before doing it myself.

[2021-11-09 23:15] zenbones commented on #3292
No I did not. Turns out the Go has a horrific build system with no good concept of dependency management, and the language itself seems to think that forcing every 3rd line of code to do error handling without the benefit of a try/catch construct, or a standardized error carrying a stack trace, is the height of elegance. I found a way to live without this feature. But if you can manage to work it

[2021-11-09 23:33] kdopen commented on #3292
Ah well, we all live in hope :)

Thanks anyway

[2021-11-10 10:13] brackendawson commented on #3292
@kdopen I don't know if it would affect your use case, but this would only allow you to protect the tagged manifest. The actual layers and the image config are fetched from the `repository` in the registry without tag information.

[2021-11-11 15:44] bainsy88 opened #3525 "Deleting an image from a repo with a large number of tags can be very slow"
### Issue with current implementation.

Currently as part of the image delete flow, we find all the tags in the given repository and then do a Lookup to work out if the tag currently points to the digest we are trying to delete. If a repository has many tags this can cause delete calls to be very slow. Had a recent real-world example where it takes >30s to delete an image with ~5000 tags.

I haven

[2021-11-11 21:05] milosgajdos commented on #3525
Both suggestions sound good to me. We already do `goroutine` dance similar to `2.` in some storage drivers (like [here](https://github.com/distribution/distribution/blob/main/registry/storage/driver/s3-aws/s3.go#L755-L788)), so I wouldnt see it as introducing huge amount of complexity. I'd go for 2.

[2021-11-12 11:58] ilyee opened #3526 "Make `expiry` parameter for swift driver configurable when redirect is enabled"
When we use swift driver and enable redirect, in `ServeBlob` method of `blobServer` the `expiry` parameter is never set so the expire time is always 20 minutes. For the huge image layer that takes more than 20 minutes to pull, the pulling will always fail. Maybe there are other drivers that have same issues.

https://github.com/distribution/distribution/blob/6248a88d03badbe49c4969f802f5860b6fb2a68

[2021-11-12 12:09] ilyee opened #3527 "Potential risk of OOM in manifest api"
https://github.com/distribution/distribution/blob/6248a88d03badbe49c4969f802f5860b6fb2a685/registry/storage/registry.go#L217-L223

I wonder why here we need `blobLinkPath` in `manifestLinkPathFns`？If we invoke manifest api like `/v2/<name>/manifests/sha256:<digest>` with an image layer digest, the entire layer will pulled into memory and distribution will try to marshal it as `Manifest` with faile

[2021-11-12 13:12] brackendawson commented on #3527
This is a workaround that has been in the code since 2.1.1 because 2.1.0 accidentally stored manifests in the layers directory, it's documented in #3122 and I think this is a duplicate of that, but the memory implications are now, thank you.

[2021-11-12 16:22] brackendawson opened #3528 "Manifest list upload handler should validate manifests' mediaType and size."
@thaJeztah asked what happens If you upload a `application/vnd.docker.distribution.manifest.list.v2+json` (manifest list) to distribution but specify the incorrect media type for the referenced manifest/s. The answer is the manifest list is accepted. It is also accepted if the size is wrong. The only property that is checked is that the digests either exists in the manifest store or the layer stor

[2021-11-12 16:26] brackendawson commented on #3528
[The manifest list spec](https://github.com/distribution/distribution/blob/1cdeff259b9d1793d034f725062cea559bf0a69f/docs/spec/manifest-v2-2.md#manifest-list-field-descriptions)

[2021-11-12 16:40] thaJeztah commented on #3528
Unfortunately, I don't think we'd be able to pull that off. We had a check in docker engine, but it broke way too many cases where images were cross-compiled and uploaded with the wrong metadata (but referenced with the correct os/arch in the manifest list)

[2021-11-13 05:16] ilyee commented on #3527
got it, thx for your reply!

[2021-11-13 05:16] #3527 closed

[2021-11-15 03:09] wy65701436 commented on #3525
I prefer the option 1, parallel deletion is enough for this case, we can just have another goroutine to collect the errors from error chan, and the error is raised by `Untag` in parallel deletion.

[2021-11-16 07:24] alexbiehl opened #3530 "Mirroring ghcr.io image returns 400 MANIFEST_INVALID (operation unsupported)"
When pulling an image hosted on ghcr.io through a Registry set up as a pull-through cache I get a 400 error.

With debug logs turned on, I see

[code]

The REGISTRY_PROXY_REMOTEURL is pointing to `https://ghcr.io`. I have tried various images .e.g. linkerd/proxy, linuxserver/booksonic-air

I couldn't find anything on the issue tracker so far. I hope it's a known issue with a workaround.

[2021-11-16 08:32] milosgajdos commented on #3530
We would have to see the snippet of the actual manifest before making/giving any sort of opinion.

What would also be helpful is telling us what version of registry [proxy] you are running etc.

[2021-11-16 09:21] alexbiehl commented on #3530
@milosgajdos Thanks for the quick response!

We are running `registry:2.7.1`. We are running a proxy registry for DockerHub too (some config modulo REGISTRY_PROXY_REMOTEURL and login of course) on which we haven't observed the phenomenon so far.

The following is the manifest for `ghcr.io/linuxserver/booksonic-air:2009.1.0`:

[code]

[2021-11-16 16:45] milosgajdos commented on #3530
Interesting. The manifest looks ok to me 🤔 , but I suspect the lack of detail in the error is due to how distribution serialises error into JSON before sending them down the pipes to the consumers.

I have a bit of a theory -- sorry haven't had time to verify this -- but here goes...

Distribution calls `ServeJson` (see [here](https://github.com/distribution/distribution/blob/release/2.7/registry/

[2021-11-16 21:49] alexbiehl commented on #3530
Ok, I built locally and followed it into manifest/schema1/config_builder.go, specifically:

[code]

where it fails at

[code]

the returned `err` indeed is `operation unsupported`.

It turns out that Registries running in proxy mode [do not support pushing images](https://docs.docker.com/registry/configuration/#proxy). Could it be that for some reason the manifest makes us follow a code path that

[2021-11-16 22:16] alexbiehl commented on #3530
And indeed if I replace the occurrences of

[code]

with

[code]

I get my beautiful manifest:

[code]

[2021-11-17 06:54] alexbiehl commented on #3530
@milosgajdos I am proposing a fix in https://github.com/distribution/distribution/pull/3532. Feel free to turn down if you see a problem with it.

[2021-11-17 09:33] milosgajdos commented on #3530
Yes, this has been my default assumption. In the original report you described the issue you were experiencing was when doing PULL; not PUSH 🤔

Besides, after reading your updates, I'm going to stop here and go on limb to ask you to stop using `v1` manifests as schema `v1` was deprecated when `v2` was released (see [here](https://docs.docker.com/registry/spec/deprecated-schema-v1/)).

In the origi

[2021-11-17 09:53] alexbiehl commented on #3530
@milosgajdos Your suggestions sure make sense but I am not in control of the images unfortunately.

And that is still true. It is the code path for pulling a `v1` manifest that internally makes use of `BlobStore.Put` that violates the invariants.

Interesting, is there a setting that forces `v1`/`v2` usage?

[2021-11-17 17:16] rchernobelskiy opened #3533 "S3 Backend: panic in ListObjectsV2Pages"
I'm getting the following panic when I run `garbage-collect -d` on master, I think it may be related to https://github.com/distribution/distribution/pull/3480
[code]

[2021-11-24 13:06] namnx228 opened #3537 "Plan for the next release"
Do we have any plans to have the next `v2 ` release? There is some security fixes in branch `release/2.7` but is missing in the latest release.

[2021-11-25 15:26] CollinShoop commented on #3533
Looks like the problematic slice is coming from [storage/catalog.go:143](https://github.com/distribution/distribution/blob/5bda06924315e1f8082c2d50215b14233a63e512/registry/storage/catalog.go#L143) as part of `handleRepository`
[code]
which to me implies `filePath` is shorter than `root`, which definitely seems wrong. Would you be able to add some logging to see which root and path are provided he

[2021-11-26 02:10] rchernobelskiy commented on #3533
Yep, exactly. The two values it panics on for `root` and `filePath` are:
[code]

Adding the following stops the panic and functionality seems ok, but not sure if it remains correct:
[code]

[2021-11-26 02:33] CollinShoop commented on #3533
@rchernobelskiy Those results are definitely not what I expected, and I'm not sure how it's possible. Would you possibly be able to try reproducing this issue on this branch https://github.com/distribution/distribution/pull/3538 in which I effectively rolled back `_catalog` to use the prior recursive Walk implementation that was used before #3480?  At lease then we can narrow it down a bit further

[2021-11-26 05:48] AaronJan commented on #1948
I got this error too (v2.7.1), after hours of digging around, I think I have found the root cause of this. Like what @LeoQuote said, it all about **consistency model**.

AWS S3 used to be **Eventual-Consistency** for PutObject, GetObject, DeleteObjects, ListObjects (used by s3 driver), that means sometimes you can't read an object just after it's been created. But this isn't a problem anymore, bec

[2021-11-26 06:53] jasonliu747 opened #3539 "`defaultKeepStorage` supported in pull-through cache mode"
According to docker [documents](https://github.com/docker/docker.github.io/blob/master/registry/recipes/mirror.md), registry will periodically removes old content to save disk space.
But I really couldn't predict when & what cache would be remove. Is there a similar parameter like `defaultKeepStorage` to help users define how much disk they want to use for this cache system?

/cc @milosgajdos

[2021-11-30 12:29] MatthiasKuehneEllerhold commented on #3178
The problem @benz0li describes is still happening with docker-registry 2.7.1
Any known fixes?
Our registry has grown by 160 GB in 1 month just by daily builds. That not sustainable...

[2021-11-30 16:53] deleteriousEffect commented on #3178
@MatthiasKuehneEllerhold during garbage collection, we'd roughly need to:

Add every tagged manifest to a list of referenced manifests
Check every tagged manifest to determine if it was a manifest list
If it is a manifest list, check those manifest lists to see if they're a buildkit cache image
If they're a normal manifest list, we'd need to add the referenced manifests to a list of referenced man

[2021-11-30 17:09] vbatts opened #3541 "update/cleanup `./contrib/`"
## description

(from [slack](https://cloud-native.slack.com/archives/C01GVR8SY4R/p1637607416049300))

the stuff in ./contrib/ looks long in the tooth. Using docker/libtrust and docker/golem, which are archived. And pointing to images that do not exist anymore.

## reproduce

1. review the token server and related deployment files
2.
3.

## expected results

A working token server to use with dist

[2021-11-30 18:47] jdolitsky opened #3542 "Submit results for OCI conformance, distribution-spec v1.0"
I believe that distribution on `main` is 100% OCI-conformant (`2.7.1` has some missing features).

Ideally, a new release could be cut, but it is also OK to submit conformance results, using some git commit hash for the `version:` field.

Here are some [example PRs](https://github.com/opencontainers/oci-conformance/pulls?q=is%3Apr+%22Conformance+results+for+distribution-spec%2Fv1.0%22+) you can us

[2021-12-01 15:20] seralepo commented on #2881
I might have found a simpler solution to this issue than comparing timestamps.

If garbage-collect compiled the list of blobs in the registry before it started marking them, it would mostly make switching to RO mode unnecessary.

See this pull request: https://github.com/distribution/distribution/pull/3544

[2021-12-01 21:11] spider-network commented on #3537
I am also wondering, the last Tag was created at the beginning of 2019. But I see many commits over the last two years. With the latest images that are pushed to dockerhub we still run in rate limit issue at dockerhub. Is the version check done by a HEAD request? because HEAD requests are not counted

[2021-12-01 21:17] spider-network opened #3545 "Rate Limit Issue at Dockerhub"
Is the upstream check via HEAD call? I was not able to find the section 100% in the code. We have a paid account at DockerHub which includes 5000 Requests, but we have still rate limit issues.

We are also wondering why the last tag of this project is created 2 years ago. Is there a plan to release the master code? Which code is included in the latest tag on dockerhub?

[2021-12-01 21:36] deleteriousEffect commented on #3545
Hi @spider-network, this project was donated to the CNCF by Docker: https://www.docker.com/blog/donating-docker-distribution-to-the-cncf, so this project is only historically related to DockerHub.

 We're working hard now on releasing a new tag :relaxed:

All the code in this project is open and available, there's nothing more for us to release.

I don't believe DockerHub is using a tagged version

[2021-12-01 21:36] #3545 closed

[2021-12-03 13:44] danielefranceschi commented on #2788
Configured as a dockerhub mirror, the bug is still present in `registry:2.7.1`
[code]
Occurs after 2/3 days of uptime.

Restarting the mirror fixes the issue.

[2021-12-04 03:41] #3013 closed

[2021-12-04 03:42] tmeneau commented on #3013
Closing as this has been fixed.

[2021-12-04 09:23] bofei222 commented on #1016
@Klaas-  Hi Klaas, do youknow any windows platform counterpart for this solution?

[2021-12-05 22:16] spider-network commented on #3545
Will make the master version head requests instead of get requests to not run in the Ratelimit from dockerhub? Head requests will not be counted! @deleteriousEffect

[2021-12-06 23:55] spider-network commented on #3545
It was more a related question about the implementation because the HEAD requests will not be counted by docker hub.

Harbor described it clear in there doc: https://goharbor.io/docs/2.1.0/administration/configure-proxy-cache/

How it will be handled by distribution/distribution/ this is not a question for the DocckerHub, if I understand the code right I will do also only a HEAD request: https://g

[2021-12-07 00:16] deleteriousEffect commented on #3545
@spider-network are you talking about when distribution is configured as a pull-through cache?

[2021-12-08 06:18] scah2021 commented on #2807
What is the current development release  ? I have tried to pull the suggested version but go this.

Pulling registry (registry:2.7.0-272-gc63b5805)...
ERROR: manifest for registry:2.7.0-272-gc63b5805 not found: manifest unknown: manifest unknown

[2021-12-08 06:20] scah2021 commented on #2807
Even on registry;latest I am still seeing:

time="2021-12-08T06:20:22Z" level=warning msg="Ignoring unrecognized environment variable REGISTRY_HTTP_TLS_MINIMUMTLS"

[2021-12-08 06:39] gaby commented on #2807
@caervs Can you please re-open this? Issues still valid after 3 years

[2021-12-08 06:40] gaby commented on #3333
Maybe in 2022 they care about Security, issue still valid

[2021-12-08 16:08] brackendawson commented on #3469
No work is needed here.

[2021-12-08 16:08] #3469 closed

[2021-12-08 16:09] brackendawson commented on #3468
No remediation is necessary in this case, thanks.

[2021-12-08 16:09] #3468 closed

[2021-12-10 16:07] liangyuanpeng commented on #1994
The problem is Existed for too long and maintainers seems like is not care about it.

I'm working on this feature of ttl blobs and I will release it in [liangyuanpeng/distribution](https://github.com/liangyuanpeng/distribution). welcom everyone to work for it together.

[2021-12-13 03:13] Huweicai commented on #3011
I have the same problem while using Tencent COS, "unknown error completing upload: s3aws: Path not found:"

https://github.com/distribution/distribution/issues/1948

Any progress on it?

[2021-12-14 10:08] huanghantao opened #3546 "[question] How does the registry client pass username and password?"
My test code is as follows:

[code]

However, an error is reported:

[code]

I think I need to pass the username and password, but I'm not sure where to set it. I went through the whole project, but unfortunately, I couldn't find an example.

Can someone tell me how to set a username and password? Thank you very much!

[2021-12-14 19:15] mattcobb opened #3547 "docker scan does not detect dependencies included in a fat jar"
Using docker scan (3.4.1) on the image datadog/agent:6.21.1-jmx does not detect the dependency log4j 2.12 included in jmxfetch.jar

scan results:
[datadog-jmx_scan.log](https://github.com/distribution/distribution/files/7714111/datadog-jmx_scan.log)

contents of unzipped jar:
[jmxfetch_jar_contents.log](https://github.com/distribution/distribution/files/7714153/jmxfetch_jar_contents.log)

jmxfetch

[2021-12-14 19:18] milosgajdos commented on #3547
This is a wrong repo for this issue. This repo is dedicated to Docker registry _implementation_ donated to CNCF.

[2021-12-14 19:18] #3547 closed

[2021-12-20 10:45] milosgajdos commented on #3541
Thanks for raising this. By quickly scanning throught al the outdated cruft in `contrib`, I'm thinking this will need a proper overhaul.

In fact, I would not be against binning most (if not all) of the contents of `contrib` and see if anyone screams 🤔

[2021-12-20 17:14] SteveLasker opened #3550 "Cleanup contributing.md"
`./CONTRIBUTING.md` has a few references to the days of it being under docker. While some links are still helpful to route users, some of the content needs a scrub, such references to docker hub/desktop support.
I've updated the security contact (#3549), but we could use another pass

[2021-12-20 18:30] deleteriousEffect commented on #3541
I think this is probably the way to go since the maintainers and ownership of the project have changed.

[2021-12-22 13:49] xvzf commented on #3311
Guys is there an update on it

[2021-12-22 14:40] milosgajdos commented on #3311
We will do `2.8` release soon -- once this PR is merged (one people are back from holidays) https://github.com/distribution/distribution/pull/3552 -- and then push the `2.8` image to Hub, etc.; from then on we will only consider high sev security fixes. but it will be the last `2.x` release. All the future effort will go towards releasing `v3` hopefully in Q1 in 2022

We are working on getting the

[2021-12-23 10:55] wzshiming opened #3553 "Support for multiple host"
Can it support using different `manifests` according to the `Host` in the `Header`, but using the same `blobs`

[2021-12-23 13:46] shcherbak commented on #2188
Confusing that  ```segments of /docker/registry/v2/``` has no prefix ```files/docker/registry/v2/``` `files`

[2021-12-23 13:48] shcherbak commented on #3016
https://github.com/distribution/distribution/issues/2188#issuecomment-1000315090

[2021-12-23 13:49] shcherbak commented on #3016
have the same issue. Registry is consistent, Confusing that error message ``segments of /docker/registry/v2/``` has no prefix ```files/docker/registry/v2/``` ```files```

[2021-12-23 21:31] alexsapps commented on #2042
I had to `docker logout` + `docker login` after changing my API key / password.

I did not see anything in the docker daemon logs. I wish it would show the error while it was retrying so we wouldn't have to guess the issue.

[2021-12-24 07:49] lengrongfu opened #3554 "Questions about the code for uploading blobs to S3 in blocks?"
In the process of using the distribution project, we found that the (d *driver) Writer method in the s3.go file stores some questions. Why do we call d.S3.ListMultipartUploads and d.S3 during the uploading process. ListParts method to query the progress of part upload.

[2021-12-29 12:59] brackendawson commented on #3553
That's not currently achievable using distribution. The registry is largely unaware of its own domain name. Nether manifests nor blobs are stored under any host information, so pointing two domains at one distribution registry causes the images to be aliases for one another. People already make use of this, for example `registry.ng.bluemix.net/bracken/image:latest` is the same as `us.icr.io/bracke

[2021-12-30 06:25] wzshiming commented on #3553
Thank you for response

I have tried this scheme, there is layer Nginx to do URI conversion and Forward, there seems to be a problem with uploading image.

I also tried mounting blobs in the container to the same host folder, An error message is reported when uploading files, and cross-drive movement is not supported.
https://github.com/distribution/distribution/blob/1563384b69df9376389fe45ce94917

[2021-12-30 21:52] travs opened #3555 "RUN --mount doesn't work when ssh key is a variable"
I want to RUN through an ssh tunnel, but the identity is defined as a build arg.

My `Dockerfile`:

[code]

I run it with:

[code]

This gives me the error:

[code]

What's odd is that the variable seems to be interpreted correctly, since it shows "`travis`" in the output.

Note that it builds fine if I literally use the identity "`travis`" instead of the variable, as in:

[code]

---

EDIT: this

[2021-12-30 22:02] #3555 closed

[2022-01-01 16:00] #990 closed

[2022-01-04 08:40] dsaydon90 commented on #1515
Is this issue still considered as a "question" and not as a "feature request"?
We definitely know that this feature is currently not exist, and we hope to see this feature soon.

[2022-01-04 15:12] sdettmer opened #3557 "docker build does not create reproducible output (even with fixed SOURCE_DATE_EPOCH)"
I file a bug here because this is the first and only reasonable match for "docker bug report" on google. I'm afraid I'm not at the right place, but I assume here at least I can learn where to submit correctly.

I'm failing to build a reproducible container. I try:
[code]
but I get different output of `docker save` on each machine (or each try without cache). SOURCE_DATE_EPOCH seems not to work eit

[2022-01-04 15:15] milosgajdos commented on #3557
Please open an issue in https://github.com/moby.  This is distribution aka registry repo.

[2022-01-04 15:15] #3557 closed

[2022-01-05 10:50] #3067 closed

[2022-01-05 12:30] sdettmer commented on #3557
@milosgajdos Thank you for the link, so I will do!

[2022-01-06 19:39] vbatts commented on #3541
completely fair. The travesty is that I feel the community needs a simple token server, and a demo of using it with the distribution-registry. 😿

[2022-01-08 03:48] iFrozenPhoenix opened #3558 "How to automatically delete catalog entries after API delete tag and garbage collect"
After deleting a tag with an API call and garbage collection the catalog entry is still visible.
In the registry storage there still exist entries for the deleted image under repositories.
This was also mentioned in https://github.com/distribution/distribution/issues/3266 and identified as a bug, but without any further addressing.

How can these entries be deleted in an automatic way?
Will this i

[2022-01-10 09:13] messiahUA commented on #2367
how do you change expiration and turn off auto cleanup?

[2022-01-10 14:07] andyzhangx commented on #2367
@messiahUA just hardcode this num: https://github.com/docker/distribution/blob/06fa77aa11a3913096efcb9b5bd25db8ef55a939/registry/proxy/proxymanifeststore.go#L15, and then rebuild image.

[2022-01-10 14:37] andyzhangx commented on #2367
@messiahUA you could use this image `andyzhangx/registry:v2.7.0-nottl`, I have set up a docker registry cache service based on this image, and works stable for more than 3 years, I use a 8TB disk to store image caches, only need to clean up once every two years, that's quite easy to maintain.

[2022-01-10 17:39] paullaffitte commented on #1515
I hope to see this feature soon too, or at least a "live garbage collector".

To put in context : I run this registry in Kubernetes and I would like to use a CronJob to periodically run garbage collection but it would require the CronJob to delete the pod where the registry is running first and create it back then, which doesn't look very k8s-friendly to me.

[2022-01-10 21:35] deleteriousEffect commented on #3558
@iFrozenPhoenix this commit changes the catalog log to use the `_manifests` directory, rather than the `_layers` https://github.com/distribution/distribution/commit/a784441b6222bcf5e66feb0062d135dcc72dc9ee, it's not included in a tagged version of the registry yet, so this is part of the solution.

Some storage drivers have the concept of empty directories, and some do not, so this behavior may ne

[2022-01-10 21:51] deleteriousEffect commented on #1515
@paullaffitte a live garbage collector would most likely require a completely different metadata storage scheme. This isn't off the table as far as I know, but it's a huge undertaking, and it's possible that older images wouldn't be compatible with the new approach.

You need to put the registry in read-only mode in order to run garbage collect safely, which can be done by flipping a flag in the r

[2022-01-11 08:51] ghassencherni commented on #1568
I got the same error , my fault was simply that I have a wrong path, ECR repo dosnet' exist for my case. Check your target repo

[2022-01-11 12:15] arturkasperek opened #3564 "Proposal: Extend authorization scope with the image tag pattern"
# Problem description
Nowadays GitOps approach become more and more popular. We run on continuous integration pipelines which as a result push docker image into the registry. On the other side, we have processes like flux image updater, which listens for registry changes ( in particular it looks for image tag patterns ) and based on that updates manifests which furthermore results in production/st

[2022-01-11 12:23] justincormack commented on #3564
I am curious why you have prod and staging in the same repository? The permissions model is per repository, and it will be very difficult to change. It was designed as a similar model to git, where the repository is basically the permissions object, and per branch permissions are difficult (with a registry branches don't really exist so this is not really possible).

[2022-01-11 12:43] arturkasperek commented on #3564
I see your point - I don't like much the approach with separate repositories because you need to manage at least 2 repositories. Let's say that we wanna as well protect our staging environment. It means that we need to have the following repos:
`example-orb/backend-prod`
`example-orb/backend-staging`
`example-orb/backend`
Moreover, if your organization has multiple repositories you end up with the

[2022-01-15 10:35] dsaydon90 commented on #3537
we are looking forward for the next release too 😎

[2022-01-19 10:38] justadogistaken commented on #3546
There is no official client of distribution.
I think there are some ways that could help you.
You can check `NewRegistryPullThroughCache` -> `configureAuth` -> `authChallenger` And see the logic of remote repository. `remoteRepo, err := client.NewRepository(name, pr.remoteURL.String(), tr)`.
Hope it could help you out.

[2022-01-19 13:59] thaJeztah commented on #3438
should this be closed (fixed by https://github.com/distribution/distribution/pull/3567 ?) @milosgajdos @justadogistaken ?

[2022-01-19 15:04] justadogistaken commented on #3438
Yes, this is fixed.

[2022-01-19 15:04] #3438 closed

[2022-01-19 15:40] justadogistaken commented on #3539
[code]

[2022-01-19 15:49] justadogistaken commented on #3539
I reconsider the feature again. You demand is cleaning image based on the disk usage, that is different with the current way of cleaning.

[2022-01-20 15:27] jeffreygolden commented on #3537
Chiming in, a fix was merged for images over 10GB on S3-backed registries, we would love to have this in a release as it's a blocker for us!

Is there anything I can do to help cut a new release?

[2022-01-20 17:10] deleteriousEffect commented on #3546
@huanghantao here's the spec for token authentication, the client auths against a separate auth service and not the registry itself https://docs.docker.com/registry/spec/auth/token/

[2022-01-21 08:50] cndoit18 commented on #1948
👀

[2022-01-21 13:09] larmar opened #3570 "Docker not responding after reboot renamed instance"
# Step to reproduce
Test with docker image that have a volume defined. Example postgres
[code]
after reboot docker not responding anymore, server hangs on reboot.
The problem occurs in the last rename command, no logs just hanging after reboot.
The renamed container needs to have a volume.
Maybe bad process, but should not hang ?

# System
Tested in several linux distributions Ubuntu 18.04 debian

[2022-01-21 13:12] milosgajdos commented on #3570
Please ask in https://github.com/moby/moby/

This is a distribution repository.

[2022-01-21 13:12] #3570 closed

[2022-01-22 21:41] AkihiroSuda commented on #3085
We have v2.8.0-beta.1 now, thanks 🎉
https://github.com/distribution/distribution/releases/tag/v2.8.0-beta.1

[2022-01-22 21:41] #3085 closed

[2022-01-23 10:19] pluveto opened #3572 "Unable to find Dockerfile on Docker Hub"
I'm in China and our government blocked dockerhub. I wanna download some dockerfiles in order to do some custom things. But I cannot find a way to do that.

![image](https://user-images.githubusercontent.com/50045289/150673949-419f1829-f7f0-48f0-a6a2-0eeca3bbd12d.png)
![image](https://user-images.githubusercontent.com/50045289/150673963-7c39df5d-ff88-40fb-a762-2ed8a168eb08.png)
![image](https://us

[2022-01-23 10:20] #3572 closed

[2022-01-23 10:21] milosgajdos commented on #3572
Please open an issue in https://github.com/docker/hub-feedback

This repository is owned by CNCF

[2022-01-23 22:50] sagikazarmark opened #3573 "Separate read and write instances using the same storage backend"
I'd like to set up a registry that is read-only for the outside world and writable from a certain set of places.

My plan is the following:
- Run a set of read-only instance accessible from the internet
- Run a writeable instance accessible only from private network

The different instances would use the same storage backend, but could use separate auth backends. DNS is not that important, but let

[2022-01-24 05:48] exe-r commented on #3333
Tried building it manually from the 2.8 release branch on the github repo and its the only version I found that respects the minimumtls config, anything else just discards it.

[2022-01-24 07:40] bad2cat opened #3574 "azure registry storage driver: unknown blob"
when i use azure blob as image storage, i found a question that is push image with error: unknown blob

log records
"HEAD /v2/test/alphtine/blobs/sha256:5843afab387455b37944e709ee8c78d7520df80f8d01cf7f861aae63beeddb6b HTTP/1.1" 307 0 "" "docker/20.10.2 go/go1.13.15 git-commit/8891c58 kernel/5.11.0-43-generic os/linux arch/amd64 UpstreamClient(Docker-Client/20.10.2 \\(linux\\))"

but when i changed

[2022-01-24 08:22] milosgajdos commented on #3333
Build from `main` should also respect it. There will be a proper `2.8` soon -- the current `2.8` release is a pre-release; The `2.7.x` releases will be deprecated this year.

[2022-01-24 08:28] exe-r commented on #3333
@milosgajdos I tried 2.7.1 from docker hub which I guess are aligned with the 2.7 release branch, but still it did not respect the  minimumtls value.  Should I try manually build from main (i guess from here https://github.com/distribution/distribution/releases/tag/v2.7.1)? any differences with the docker hub version ?

[2022-01-24 08:32] milosgajdos commented on #3573
`distribution` provides a `read-only` mode configuration option which is rather confusingly "hidden" under `maintenance" https://docs.docker.com/registry/configuration/#readonly.

Alternatively, you could also run the edge `distribution` instances in `pull-through` cache mode, though mind you, there are some outstanding issues that should be addressed in the proxy code (please browse through GH is

[2022-01-24 08:38] milosgajdos commented on #3333
Yes, all the tagged images are aligned with GH branches, hence you'll have no luck with those.
There is `2.8.0-beta.1` tag on [Hub,](https://hub.docker.com/layers/distribution/distribution/2.8.0-beta.1/images/sha256-42b95d058aab023499715780d42dff1bd688c920755e083724f60bc3736f1e11?context=repo) though.

The beta `2.8.0` pre-release also has an official image available (see [here](https://hub.docker

[2022-01-24 08:40] milosgajdos commented on #3574
Can you please try to build from `main` branch and see if the issue persists? Note that `2.7.x` branches have not been updated for a while, and the latest pre-release doesn't ship any updates to `Azure` storage driver either.

If you don't want to build the binary manually, you can pull the image from Docker Hub (the `main` branch builds are pushed to `edge` tag; see [here](https://hub.docker.com/

[2022-01-24 08:40] bad2cat commented on #3574
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-01-24 08:44] exe-r commented on #3333
Thanks for the great info @milosgajdos.  Will give it a try

[2022-01-24 08:48] sagikazarmark commented on #3573
Yup, I'm aware of the read-only mode. What I'm curious about is whether running an instance in read-only mode and running a separate one in "normal" mode (on a separate host) with the same storage backend and cache could cause any issues.

[2022-01-24 09:02] milosgajdos commented on #3573
I have done this in past in a few test environments and haven't experienced any problems.

Mind you, my experiments were rather short-lived, so I wouldn't consider them a proper recommendation let alone a benchmark for anything.

Purely speaking from the code perspective, the `read-only` mode leads to `registry` returning `405` for any write operations attempted on registry content, so you should

[2022-01-24 10:24] sagikazarmark commented on #3573
Yeah, when users are not supposed to push to a registry, I don't mind if they receive an error for trying. :)

Is it possible to disable things like garbage collection in the read only instances?

The other thing I'm unsure about is the redis cache: I'm not sure how the registry uses redis. Could there be any problem if it's shared between the write and read instances? Should they have separate re

[2022-01-24 10:52] milosgajdos commented on #3573
garbage collection is a process that is triggered independently of running distribution (https://github.com/distribution/distribution/blob/main/registry/root.go#L43). If you don't want to run GC then don't run it -- it's not a process that runs in a background alongside registry by any means.

Regsitry uses Redis to store [blob descriptors](https://github.com/distribution/distribution/blob/main/bl

[2022-01-24 11:18] sagikazarmark commented on #3573
Thanks for clarifying. For some reason, I thought GC was running in the background automatically.

[2022-01-25 08:33] bad2cat commented on #3574
@milosgajdos i use main branch push my image, still has this problem

[2022-01-25 08:35] milosgajdos commented on #3574
Unfortunately, I've no expertise in Azure services, so won't be of much help I'm afraid. Maybe someone from the wider community will help.

[2022-01-25 08:40] sajayantony commented on #3574
@shizhmsft or @aviral26

[2022-01-25 09:50] shizhMSFT commented on #3574
@bad2cat Could you provide more details on the setup? I am not able to reproduce it with the registry built from the `main` branch (8925814ba1ab858243d712db488d45d3d40dfc0b).

Details can be

- Registry config file (with credentials omitted).
- How the registry binary was built.
- What the client version is, and what commands are executed at the client side.

[2022-01-25 09:54] shizhMSFT commented on #3574
Besides, could you also have a try on a new Azure Blob Storage container? Data inconsistency can also lead to this issue.

[2022-01-26 05:54] yunkunrao opened #3578 "Question about OSS ACCESSKEYID and OSS_ACCESSKEYSECRET usage"
Currently we can specify REGISTRY_STORAGE_OSS_ACCESSKEYID and REGISTRY_STORAGE_OSS_ACCESSKEYSECRET env to setup container registry. But it has the limitation that the oss secret key must be static and only be specified when registry start up. But in some cases, it's not safe or possible to get the static oss secret key. So is there any solution for this scenario?

[2022-01-26 06:56] bad2cat commented on #3574
@shizhMSFT

i look through Docker Registry documentation，have found a configuration

[Docker Registry Configuration](https://docs.docker.com/registry/configuration/#redirect)

when i changed it's value is true, everything is worked

there is my storage configuration：
storage:
      azure:
        accountname: ***
        container: ***
        realm: core.chinacloudapi.cn
      redirect:
        d

[2022-01-26 07:10] shizhMSFT commented on #3574
@bad2cat I've tested with both `redirect` set to `true` and `false`. Both settings works for me.

Output:
[code]

[2022-01-26 07:14] shizhMSFT commented on #3574
@bad2cat Could you provide the full configuration file with sensitive data removed? Thus we can help you if there is an configuration error.

[2022-01-26 07:28] bad2cat commented on #3574
@shizhMSFT

ok，my registry deploy on k8s，use image is docker pull distribution/distribution:edge

there is my configuration:

`apiVersion: v1
data:
  config.yml: |
    version: 0.1
    log:
      level: info
      fields:
        service: registry
    storage:
      azure:
        accountname: ***
        container: ***
        realm: core.chinacloudapi.cn
      cache:
        layerinfo: redis

[2022-01-26 07:30] bad2cat commented on #3574
ok，my registry deploy on k8s，use image is docker pull distribution/distribution:edge

there is my configuration:

apiVersion: v1
data:
  config.yml: |
    version: 0.1
    log:
      level: info
      fields:
        service: registry
    storage:
      azure:
        accountname: ***
        container: ***
        realm: core.chinacloudapi.cn
      cache:
        layerinfo: redis
      maintenanc

[2022-01-26 07:50] bad2cat commented on #3574
@shizhMSFT
ok，my registry deploy on k8s，use image is docker pull distribution/distribution:edge

there is my configuration:

[code]
and a env REGISTRY_STORAGE_AZURE_ACCOUNTKEY=123456

Docker version：

[code]
used docker command：

`docker push image
`

[2022-01-26 08:01] shizhMSFT commented on #3574
@bad2cat I just tired your settings. The azure driver works for me with `redirect.disable` set to `true` or `false`.

Since redis can be a noise in debugging, could you change `layerinfo: redis` to `blobdescriptor: inmemory`, and try pushing the image again? When you have re-produced the issue, could you paste the full registry log and the client log with sensitive data removed for analysis?

From

[2022-01-26 08:31] bad2cat commented on #3574
@shizhMSFT

i tried change cache to blobdescriptor: inmemory and `redirect.disable` set to true it worked，but set to false still has problem

This is docker client logs

[code]
and registry log：

[code]

[2022-01-26 10:59] shizhMSFT commented on #3574
The registry log looks good to me. The last `HEAD` request was completed successfully with a `307` response. However, there are no subsequent requests like pushing the config layer and the manifest.

Setting `redirect.disable` to `false` implies that `redirect` is enabled and blob SAS URL is returned in the `307` response. When `redirect.disable` to `true` (ie.e `redirect` is disabled), all blobs

[2022-01-27 02:24] bad2cat commented on #3574
@shizhMSFT

I tried curl  command on k8s cluster which deployed in azure enviroment, get ouput:

[code]
and i tried push image, everything is ok, it's weird，i'm not changed other congfiguration,just set redirect disabled to false

after that, i tried same operation at local ，set redirect disabled to false，get output:

[code]
and changed redirect disabled to true，it'worked again

is it means genera

[2022-01-27 02:31] shizhMSFT commented on #3574
@bad2cat A [SAS](https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview) URL looks like
[code]
It should point to an Azure Storage server like `<account_name>.blob.core.chinacloudapi.cn`. However, it points to `localhost:8080` based on your log.

[2022-01-27 02:39] bad2cat commented on #3574
@shizhMSFT

thank your reminder, localhost:8080 is not my real host, i use it replace real host

[2022-01-27 02:54] shizhMSFT commented on #3574
@bad2cat Please double check your network environment since the issue is not caused by the `azure` driver itself.

If you still have issues, please reply this thread or create a support request in the Azure Portal.

[2022-01-27 02:58] bad2cat commented on #3574
@shizhMSFT

ok, thank you reply, i will check my network enviroment

[2022-01-27 10:25] milosgajdos commented on #3308
Please open an issue in https://github.com/docker/hub-feedback

[2022-01-27 10:25] #3308 closed

[2022-01-27 10:27] milosgajdos commented on #3219
This is the wrong repo to ask this question. Please ask in https://github.com/moby/moby/

[2022-01-27 10:27] #3219 closed

[2022-01-27 10:27] #3084 closed

[2022-01-27 10:28] #3043 closed

[2022-01-27 10:28] #3042 closed

[2022-01-27 10:29] milosgajdos commented on #3012
This is the wrong repo to ask this question. Please ask in https://github.com/moby/moby/

[2022-01-27 10:29] #3012 closed

[2022-01-27 10:31] milosgajdos commented on #2845
This is the wrong repo to ask this question. Please ask in https://github.com/moby/moby/

[2022-01-27 10:31] #2845 closed

[2022-01-27 10:31] milosgajdos commented on #2372
This is the wrong repo to ask this question. Please ask in https://github.com/moby/moby/

[2022-01-27 10:31] #2372 closed

[2022-01-29 07:07] tindzk commented on #1566
@joaodrp The tag deletion feature was approved. It is now part of the OCI Distribution Specification v1.0:

https://github.com/opencontainers/distribution-spec/blob/v1.0/spec.md#deleting-tags

[2022-01-30 09:43] realbucksavage commented on #2502
@schmiel are you still working on this one? Is this still on the storage roadmap?

[2022-02-01 13:41] chance2021 commented on #2386
I got the same error and the root cause is the redirects to https (80-443) are not occurring which one of the things are causing the docker client to fail while allowing the browser to work. I added below directives in Apache httpd (apache2) and it worked for me.
[code]

[2022-02-01 18:38] ricarcon opened #3581 "Running docker container with --cpuset-cpus flag and checking with nproc in container does not show the right cpu count"
When we initially run the docker container, in our debug and logging, we have found that the initial call to nproc shows the correct number of CPUs, but as we continue to check throughout the lifecycle of the container, nproc changes and have found that the contents of the cpuset.cpus file has changed too, to reflect the total number of CPUs in the underlying VM host that the container runs on. We

[2022-02-01 18:42] milosgajdos commented on #3581
this is a wrong repo to ask this question, please ask in `moby/moby`

[2022-02-01 18:42] #3581 closed

[2022-02-03 14:18] nurelmedward opened #3582 "Setting the max CPUs to max on Docker Desktop crashes on Mac M1"
Hi,
Sorry if this is the wrong place to report this, but I feel it needs to be put on the Docker dev teams radar. I'm running Docker on a new Macbook Pro with the M1 chip. When setting my CPUs to the highest count (10 it lets me) under "resources" and "advanced" screens in Docker desktop, the application crashes, and gets stuck in a loop of constantly stopping and starting the Docker engine. It's

[2022-02-03 14:32] #3582 closed

[2022-02-04 18:08] garymoon commented on #2807
For anyone still hoping for this, it looks to be available in the `2.8.0-beta.1` just released.

[2022-02-06 19:19] travisghansen commented on #1247
I've fixed this issue in the PR above and also allowed setting a `rootdirectory` parameter like the other drivers allow.

[2022-02-08 05:19] cober2019 opened #3584 "Not able to pull stats from container using docker api"
I'm not able to pull device stats using docker API . When I try to get stats for a container using the following URI the API appears to combine the container ID with the next path in the API string,

appdev@Lab01:~/management-console/src$ curl http://localhost:5010/containers/8bedc871c465a26f0386720cef7e344a490d6837d75915ab309349945eeee196/stats/json

--> {"message":"No such container: 8bedc871c46

[2022-02-08 08:43] milosgajdos commented on #3584
This is the wrong repo to ask this question. Please ask in https://github.com/moby/moby

[2022-02-08 08:43] #3584 closed

[2022-02-09 16:13] shcherbak commented on #3016
the same issue with 2.8.0 release

[2022-02-09 16:50] AshKash opened #3586 "bad CPU type in executable: /usr/local/bin/docker-credential-ecr-login"
I am trying to get Docker setup on an Apple Silicon Mac and it looks like the some of the binaries shipped with Docker Desktop 4.4.2 (73305) are x86:
[code]
This causes authentication to fail when trying to download images from AWS. The workaround for me was to use the binary shipped with brew instead.

[2022-02-09 16:55] deleteriousEffect commented on #3586
@AshKash I'm not really sure where to go for support for Docker desktop, but this repository is for the container registry, and we're no longer directly affiliated with Docker the company.

[2022-02-09 16:55] #3586 closed

[2022-02-14 09:16] pacoxu opened #3587 "There is a surprising increase in transitive dependencies when we switch to distribution v3"
When I migrate to github.com/distribution/distribution/v3 from v2 in kubernetes https://github.com/kubernetes/kubernetes/pull/107211, we got a surprising increase in transitive dependencies for this switch. See https://github.com/kubernetes/kubernetes/pull/107211#issuecomment-1006698414.

Firstly, we thought about maintaining the stable part in kubernetes utils repo. However, owners think it would

[2022-02-14 09:24] pacoxu commented on #3587
See comments in https://github.com/kubernetes/utils/pull/232.

[2022-02-14 09:55] rubenkharel commented on #2225
This is the new error I received after this.
I have cloudflare flexible ssl enabled before nginx.

since I can't change Cloudflare flexible to any other method right now because other subdomain depends on that.
What might do work for me?

[2022-02-15 10:00] #2814 closed

[2022-02-15 19:29] Yamakasi commented on #2314
@sudo-bmitch Thanks but that doesn't remove empty repo's it seems

[2022-02-15 20:55] sudo-bmitch commented on #2314
@Yamakasi woops, I must have misread this question. See #3195. I think there are some issues with that PR (it may have been deleting data still in use in other repos, would need to test it again). And it most likely needs to be rebased. But yeah, this isn't something currently handled.

[2022-02-16 11:48] Yamakasi commented on #2314
@sudo-bmitch thanks for the update. There is a real need or it indeed!

[2022-02-16 22:48] shcherbak commented on #2188
the same error on v.2.8.0

[2022-02-17 18:49] Aneurysm9 opened #3590 "v2.8.0 tag does not match checksum"
I get the following error when attempting to run `go mod tidy` on a project that depends on this module.

[code]

[2022-02-18 06:41] HendarMoko opened #3591 "Container"

[2022-02-18 10:37] #3591 closed

[2022-02-18 13:22] davidgiga1993 opened #3592 "Current build guide?"
I'm trying to build the registry from scratch, however the [documentation](https://github.com/distribution/distribution/blob/main/BUILDING.md) contains deprecated commands and doesn't work on my machine at all when strictly following the steps mentioned.

Is there a more up-to-date documentation available? If not I would appreciate if someone could update it

[2022-02-18 13:25] milosgajdos commented on #3592
Unfortunately, we are still kinda in a process of sorting the docs out, so in the first phase, we ported the existing docs with docker references removed. If you discover discrepancies and/or find any issues we'd welcome PRs to fix it

[2022-02-18 13:51] crazy-max commented on #3592
@davidgiga1993 You can type `docker buildx bake binary`. `registry` bin will be available in `./bin`.

[2022-02-18 15:05] davidgiga1993 opened #3593 "[Feat] Support for dynamic realms?"
# Use Case
To operate a registy from multiple URLs using token auth it might be required to use different realms URls well.

# Background
A bit of background information about the environment before describing the feature:
- Registry runs in K8 and is configured using token auth with a custom realm
- K8 doesn't have internet access (due to isec requirements)
- We have a private and public url to t

[2022-02-18 18:12] RobertWi commented on #2807
Confirmed. With this set
-e REGISTRY_HTTP_TLS_MINIMUMTLS=tls1.2
it reveals
[code]

[2022-02-18 20:39] jbonzo commented on #3590
Interesting. I experienced it but with the hashes flipped
[code]

[2022-02-18 21:03] Aneurysm9 commented on #3590
One is saying the downloaded value doesn't match sum.golang.org's view and the other that the downloaded value doesn't match the local `go.sum` file.

I get the former because I am using `GOPROXY=direct` and thus downloading directly from github the current state of the module.  This does not agree with sum.golang.org, which must have acquired a previous state of the module with that tag.  That st

[2022-02-21 12:53] milosgajdos commented on #3590
I can't reproduce this, personally. I assume you've purged your go module caches and disabled proxy before getting them again from scratch?

[2022-02-21 12:55] milosgajdos commented on #3554
If I understand this question correctly, I believe this is so the uploads are resumable.

[2022-02-21 19:06] Aneurysm9 commented on #3590
Clearing my module cache and running `go mod tidy` with `GOPROXY=direct` results in the same error.

[2022-02-22 08:17] iranthau commented on #2042
It was missing IAM permission on the user in my case.

[2022-02-22 08:34] Temepest74 opened #3594 "[v20.10.12] Docker gui crashes when opening a container."
I have docker on wsl 2 installed. This bug is recently, and it goes as follows.
I open the docker app from the minimized apps list. It opens and I can navigate through it.
One thing I am unable to do is to open a container. When I click on it, it crashes and my app disappears from the minimized app lists. One weird thing, all my containers remain open.

[2022-02-22 08:35] Temepest74 commented on #3594
nvm, wrong repo

[2022-02-22 08:35] #3594 closed

[2022-02-23 11:48] milosgajdos commented on #3590
We managed to reproduce this locally,
If you look here https://sum.golang.org/lookup/github.com/docker/distribution@v2.8.0 you won't find the sum there.

We think the Go sumdb contains some cached Go sum -- the best course of action is to delete the Go sum db (`$GOPATH/pkg/sumdb`) and re-pull and everything will work fine.

[2022-02-23 21:39] chrisdoherty4 commented on #3590
So the only way to fix this is for consumers to skip 2.8.0?

[2022-02-23 22:47] Aneurysm9 commented on #3590
The version is `v2.8.0+incompatible` and is in the sum.golang.org database at https://sum.golang.org/lookup/github.com/docker/distribution@v2.8.0+incompatible.

The best fix, if the original commit cannot be restored for `v2.8.0+incompatible` would be to publish a new `v2.8.1+incompabtible` release with a `v2.8.1` tag.

[2022-02-23 23:02] chrisdoherty4 commented on #3590
Agreed. Please can we get that out asap! Seems like the path of least resistance and would be natural for people upgrading their modules.

[2022-02-24 14:45] maartenschalekamp commented on #2225
Just incase anyone else runs into this and they confirmed that their X-Forwarded-Proto is set correctly and you have more than one registry instance/pod running. Check the following two things.

- The http.secret config value set to same value on both
- Your underlying storage is shared via NFS or S3. If using NFS set the flag no_wdelay on the mount as well.

[2022-02-25 08:46] Mattes83 commented on #1994
Same here. Currently the registry cache does not seem to delete anything.

[2022-02-25 08:57] milosgajdos commented on #1994
there is a PR that attempted t solve this problem, but it never got merged because we first didn't reach a consensus and when we eventually did the author didn't follow up on it https://github.com/distribution/distribution/pull/3238

Feel free to read the problem and the patch and open a PR is the best advice I can give at the moment I'm afraid.

[2022-02-25 09:56] Mattes83 commented on #1994
Maybe something like this? #3597

To be honest I don't get why making the ttl configurable should fix the cleanup. If it does not work for a ttl of 7 days it won't work for any other ttl either I guess.

[2022-02-26 06:04] milad2golnia opened #3598 "EPROTO Error when connecting to the server using https inside docker container"
**Situation:**
I developed a Node.js program which works fine on my system but behaves strange inside docker container!
In this program I'm trying to connect to a server using https. On my system It always connects successfully but **inside docker container it just can connect first time and then exits with error.**  So I'm sure this problem is related to docker but I'm new to docker and don't kno

[2022-02-26 10:26] milosgajdos commented on #3598
This is a wrong repo to report this issue in. Please, at the very least read the repo description. Ask this question in moby/moby.

[2022-02-26 10:26] #3598 closed

[2022-03-01 06:58] jiangxiaobin96 commented on #3590
Same problem occured
[code]
So how to solve it?

[2022-03-02 08:57] QuetzalCoder commented on #3590
@chrisdoherty4 dependabot gives security issue for v2.8.0-beta.1
<img width="945" alt="image" src="https://user-images.githubusercontent.com/95290282/156328604-1944d261-8c2c-4c70-b8f2-fdab405354f3.png">

so i dont think downgrade is an option

[2022-03-02 09:01] milosgajdos commented on #3590
Beta release points to the same code -- I'm not sure what `dependabot` is doing there, but I suspect it's referring to the OCI manifest kerfuffle, which was fixed in `-beta` release (https://github.com/distribution/distribution/commit/10ade61de947ac08c6d39d417c88bb5dd3cd2c89)

Can you share more details about the reported vulnerability? The screenshot you posted not helpful, unfortunately.

[2022-03-02 10:19] zfLQ2qx2 opened #3600 "Content trust w/ docker registry proxy"
When I originally setup docker-registry as a dockerhub proxy and cache (to a private S3 bucket) using the 2.7.1 release I had to disable content trust in order to get the solution working.

Several years later, now that the 2.8.0 release has been made I’d like to revisit and see if there is any mechanism to get content trust working in this configuration.

Can anyone point me in the right directio

[2022-03-02 19:05] Jim-Bar opened #3601 "Different behaviors with symbolic links using COPY between BuildKit and classic"
When building an image, `COPY` does not behave identically when copying over symbolic links between BuildKit and the regular build system.

Minimal `Dockerfile` for reproducing the issue (basically downloads then installs CMake using two stages):

[code]

Then `docker build .` will succeed, but `DOCKER_BUILDKIT=1 docker build .` will fail with:

[code]

I suspect this is due to the fact that in De

[2022-03-02 19:09] Jim-Bar commented on #3601
Sorry, I don't know how I did this, but I posted on the wrong repository. Closing this, the issue is on [Docker for Linux](https://github.com/docker/for-linux/issues/1363).

[2022-03-02 19:09] #3601 closed

[2022-03-02 22:13] joshcass commented on #3236
Thanks @kpdecker my issue around this was also auth related and wasn't surfacing anywhere but your comment led me in the right direction

[2022-03-03 07:25] cgperalt-harness commented on #2225
I'm using this image registry:latest to setup a private docker registry and can't add this flag
` mountOptions:
       - no_wdelay `
It throws and error when mounting it any suggestions?

Does somebody know the Kubernetes annotation to configure
`proxy_set_header  X-Forwarded-Proto https` in my ingress yaml file?
it should look something like
`nginx.ingress.kubernetes.io/x-forwarde-proto`

[2022-03-03 23:50] switchboardOp commented on #3275
For anyone reading this after the 2.8.0 release, it still doesn't support IRSA based on my testing.

[2022-03-04 17:30] BrandonWeng opened #3602 "Transient MalformedXML error in the registry pod"
Has anyone seen this issue before? One of our users reported that for several minutes they were observing this issue and the image pushing was failing for them.

It self-resolved after 2-3 minutes. From the logs it seems like this was an issue with the request sent to S3 [S3](https://aws.amazon.com/premiumsupport/knowledge-center/config-malformedxml-error/)

[code]

Related: https://github.com/goh

[2022-03-07 21:02] cgperalt-harness commented on #2225
@ritarya did you find a solution if so could you please put it here? I'm running into the exact same issue. When I have  more than two replicas for my private docker registry it gives the unknown blob upload message. When I have one all works just fine. I'm mountain a filestore from GCP to store the docker images

[2022-03-08 12:32] gaby commented on #3333
I can confirm that this issue was fixed by #3552 Thank you! @milosgajdos

[2022-03-08 12:32] #3333 closed

[2022-03-08 16:48] milosgajdos commented on #3587
beware `v3` is the `edge` -- we make no guarantees about its stability until a stable release and yeah there are a ton of new deps accrued over the years, unfortunately

[2022-03-08 18:22] milosgajdos commented on #3590
We've just published a patch release that should hopefully address the Go mod woes https://github.com/distribution/distribution/releases/tag/v2.8.1

Can the folks please verify tihngs work with the latest tag? Thanks

[2022-03-08 19:11] chrisdoherty4 commented on #3590
lgtm

[2022-03-10 01:57] cgperalt-harness commented on #2225
@maartenschalekamp If Im using filestore from GCP which is a managed service. Do you know, How I can enable the flag no_wdelay ?

[2022-03-11 16:06] #3420 closed

[2022-03-11 19:15] DrPyser commented on #1470
I also think this would be a really convenient and simple way(for users) to provide secure authentication without the trouble of password management. Most devs using docker will already have ssh keys setup to authenticate to remote servers probably hosting private registries. If docker were to support this out-of-the box or with minimal additional setup, I think this would improve the docker regis

[2022-03-14 15:16] gwaines opened #3607 "Validating publisher/signer of signed image in Docker/Notary (Docker Content Trust)"
Need a mechanism via 'docker trust' or notary APIs/CLIs to validate that a particular signer has signed a particular image.
e.g.

$ docker trust inspect **--signer gwaines.pub** admin-2.cumulus.wrs.com:30093/wrcp-gwaines/hellokitty:v1.0
// which would validate that the hellokitty:v1.0 image is signed by the gwaines.pub public key.

NOTE that 'docker trust inspect' currently shows the signer's name

[2022-03-15 18:20] milosgajdos commented on #3600
If I understand you correctly, you'd like to get content trust working in the cache i.e. only cache if the content is trusted?

I dont think this is possible at the moment; that would require adding some code to the proxy implementation

[2022-03-18 03:41] cgperalt-harness opened #3609 "Docker Registry V2.8.1 Push fails to GCS "Blob Upload Unknown" "upload resumed at wrong offest: 0 != 772806""
Hi,
I'm running into an issue when  pushing docker images with the GCS driver and registry:2.8.1 docker image.
However, it does work with registry:2.3.1

Below is my conf.yml file

[code]

Error:
[code]

[code]

[2022-03-18 15:20] chrisdoherty4 commented on #3590
I think the issue can be closed? @milosgajdos

[2022-03-18 15:23] milosgajdos commented on #3590
Closing, as the problem has been addressed by the latest release https://github.com/distribution/distribution/releases/tag/v2.8.1

[2022-03-18 15:23] #3590 closed

[2022-03-19 02:31] emacslisp opened #3610 "Docker always cpu 100% in latest version Docker 4.6 and mac os Big sur 11.6.5"
Docker always cpu 100% in latest version Docker 4.6 and mac os Big sur 11.6.5

same config in Docker 4.4, cpu usage is almost 0%

[2022-03-19 10:14] milosgajdos commented on #3610
Wrong repo. Ask in dicker/github-feedback or open a support issue

[2022-03-19 10:14] #3610 closed

[2022-03-22 16:00] Dees7 opened #3611 "garbage-collect doesn't cleanup blobs (but shows "marking" with --dry-run)"
Hello.
I have registry in docker. and it spend already 100G.
I removed all unused tags. but garbage-collect doesn't remove blobs.
If I run `/bin/registry garbage-collect --dry-run` it show all unused blobs as marking
(I checked some  random hashes and they don't mentioned in any inside registry/v2/repositories/*)

So it looks like garbage-collect skip deleting. Why?  I checked permissions - all ok

[2022-03-24 06:01] logerror commented on #3369
did you solve it ?  i find the same question for unauthorized: authentication required when docker push

[2022-03-24 08:02] zfLQ2qx2 commented on #3600
@milosgajdos I was thinking more that since we are only pulling trusted images from dockerhub, we would like to be able to verify the chain of trust when the image is served to our local docker clients by the proxy. We had to disable content trust in order to use the proxy because it doesn’t seem to capture or propagate whatever metadata the feature needs to operate. However I can’t think of any r

[2022-03-25 12:27] ddelange opened #3612 "Support all S3 storage classes"
Hi 👋

It would be cool to be able to use different S3 storage classes for the backend.

Currently, setting `REGISTRY_STORAGE_S3_STORAGECLASS=INTELLIGENT_TIERING` results in:

[code]

From the [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.put_object):
[code]

[2022-03-25 16:13] #3501 closed

[2022-03-25 16:17] milosgajdos commented on #3407
Closing this as it seems to have been resolved and really belongs to Docker support channels.

[2022-03-25 16:17] #3407 closed

[2022-03-25 16:41] gesellix commented on #3501
@milosgajdos have you considered providing native Windows binaries? I didn't find any in the list of releases.

[2022-03-25 16:56] milosgajdos commented on #3501
We haven't, actually. I dont think the topic has come up too often, but we are open to suggestions/PRs

[2022-03-27 11:29] zhsj opened #3614 "TestFileReaderSeek fails on go1.18"
[code]

[2022-03-27 11:31] milosgajdos commented on #3614
We don't have any immediate plans to move to Go 1.18 at the moment. Feel free to open a PR, though.

[2022-03-27 13:17] thaJeztah commented on #3614
I think for the main branch, it'd make sense to switch to (or at least start testing) on go1.18

[2022-03-27 15:20] milosgajdos commented on #3614
We should defo look into it --  as I said, we're not against it but let's see when it happens. I wonder how much other stuff could get borked by the switch...I suspect this issue has been uncovered by fuzzing in 1.18 -- previous version didn't complain 🤔

[2022-03-27 15:20] #3614 closed

[2022-03-28 04:14] more-pepsi opened #3616 "Not able to docker pull registry on the same host"
I've got a docker registry in a container. When the host machine makes a request to pull from the registry I get

[code]

The host name `registry` is pointed towards `127.0.0.1` by an entry in the `/etc/hosts` file.

What I'm I missing. From logging in my proxy I can see that it makes a request and keeps the domain name. But for some reason my proxy then can't find a server. It uses the hostname t

[2022-03-28 19:47] gesellix commented on #3501
I haven't looked into creating a PR, yet. Until then, if anyone needs a proper Windows native registry v2.8.1, please have a look at https://github.com/docker-client/docker-registry/tree/main/registry-windows, which is the source for the Docker image at the [Docker Hub](https://hub.docker.com/layers/registry/gesellix/registry/2.8.1-windows-ltsc2022/images/sha256-7d2fb24df77e3936dadadfdea356cf711d5

[2022-03-29 03:10] #3616 closed

[2022-03-29 13:08] mshonichev commented on #1736
v2.8.1

this workaround works flawlessly, thanks!

[2022-03-30 01:00] cgperalt-harness commented on #1698
@aibaars @RichardScothern I just tried to implement my private docker registry using registry 2.8.1 and GCS as my storage backend and I'm running into the same issue as described for registry 2.4.
The only image that works for GCS is 2.3.1. However im not able to push windows images with registry2.3.1 even if I disabled validation.

[2022-03-30 01:48] TaylorKanper opened #3617 "Add secure compilation options."
The registry file does not contain RELRO and PIE during GCC compilation.
![image](https://user-images.githubusercontent.com/16538375/160734414-d0f47ba0-1686-48c7-97a0-0b39f31ccc05.png)

[2022-03-30 01:54] TaylorKanper commented on #3617
you may see this change on my pull request.

[2022-03-31 14:39] eusebiu-constantin-petu-dbk opened #3620 "s3: storageDriver.Stat() gives false positives for returned fileinfo.isDir()"
Hello guys,

I'm having an issue with s3 storageDriver when checking if a path is directory.

1. Let's say I'm creating an object named /ab/cd/ef/gh/file.txt
2. I run storageDriver.Stat("/ab/c")
3. It will return a fileinfo with isDir flag as true.

Below is a script demonstrating this.
[code]
and it's output:

[code]

The issue lies here: https://github.com/distribution/distribution/blob/main/reg

[2022-04-01 08:43] IsThisUsernameFree opened #3621 "Docker Swarm {{.Task.Slot}} returns {{.Node.ID}} value"
When deploying replicated services with Docker Swarm, {{.Task.Slot}} does not hold the replica number value but {{.Node.ID}} instead.

[code]

[code]

Output :

[code]

Expected output :

[code]

[2022-04-01 08:50] milosgajdos commented on #3621
This is a wrong repo report this issue in.

[2022-04-01 08:50] #3621 closed

[2022-04-01 08:51] IsThisUsernameFree commented on #3621
Yup just spotted that sorry misclicked :(

[2022-04-07 03:48] pacoxu commented on #3587
Of course, there are no guarantees on that.

In long-term repo management, this would be a suggested way.

[2022-04-09 09:08] milosgajdos commented on #2691
Closing as we've made two `2.8.x`  releases and will abandon `2.x` branch soon.

[2022-04-09 09:08] #2691 closed

[2022-04-09 09:09] milosgajdos commented on #872
Closing, this has been added in https://github.com/distribution/distribution/pull/3348 on `main`.

[2022-04-09 09:09] #872 closed

[2022-04-09 09:17] milosgajdos commented on #1820
Ideally, we chuck support for schema v1 manifest in v3 release.

[2022-04-09 09:30] milosgajdos commented on #3114
Closing. Done in https://github.com/distribution/distribution/pull/3382

[2022-04-09 09:30] #3114 closed

[2022-04-09 09:41] milosgajdos commented on #1976
Closing as per ☝️

[2022-04-09 09:41] #1976 closed

[2022-04-09 09:52] milosgajdos commented on #2664
@daltonmatos can you check if this still happens on `main`? the `v2.5.2` was using an ancient `logrus` logger https://github.com/distribution/distribution/blob/0bae7512b274045404499c79a298c6898e6fe179/Godeps/Godeps.json#L14-L18

`main` now uses `v1.8.1` https://github.com/distribution/distribution/blob/cd51f38d537ddef391113dd00d16f9ce8b5f9569/go.mod#L30

[2022-04-11 07:36] sweihub commented on #2746
Thanks, it solved my issue, my nginx config
[code]

[2022-04-11 19:34] kcftech-coding-challenge commented on #3437
We are affected by this issue (attempting to run a registry container in ECS Fargate with an S3 backend).  Any traction on getting this fixed?  The PR has not moved in over a month.

[2022-04-12 11:19] richp10 commented on #1175
Alternative solution:

REGISTRY_HTTP_TLS_CLIENTCAS_0=/certs/fullchain.pem

[2022-04-12 14:59] pballai-talend opened #3626 "Docker Desktop Crashes on CLI Click"
Docker Desktop 4.7.0 (77141). Any container. Clicking the CLI option crashes app immediate. I have re-set to factory default and created 1 container with the same failed result. Host system is Window 11.

[2022-04-12 15:03] milosgajdos commented on #3626
This is the wrong repo to report this issue. please open an issue on `docker/github-feedback`

[2022-04-12 15:03] #3626 closed

[2022-04-13 04:54] raxod502 commented on #2817
I have submitted https://github.com/docker/docker.github.io/pull/14544 to highlight this important pitfall in the documentation.

[2022-04-13 04:59] pchico83 opened #3627 "Support APIs to delete images on chunks"
At [Okteto](https://www.okteto.com/) we are using ephemeral dev images to deploy code from git into a Kubernetes cluster.
Every user has its own namespace. Users should be able to delete all their images if they want to.

Currently, we need to list all images with the `/catalog` API, which just timeouts at our scale.

We would love to have a more scalable approach to delete images. We would like s

[2022-04-13 08:09] milosgajdos commented on #3627
Adding this in is not as straightforward -- this is a higher-level API that might need to be added to the [spec](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#api) first, rather than adding it to the registry.

As for the catalog iteration, we need to have a proper look at https://github.com/distribution/distribution/pull/3360, this that PR only adds the improvement to the

[2022-04-13 08:12] milosgajdos commented on #2817
This is documented in https://github.com/distribution/distribution/blob/main/docs/deploying.md#native-basic-auth

NOTE: the official Docker docs will be removed in the near future as distribution has been donated to CNCF, now.

Closing this.

[2022-04-13 08:12] #2817 closed

[2022-04-13 15:25] Jamstah opened #3628 "Cannot partially mirror fat manifests / manifest lists"
This issue covers an image size concern based on the use of image indexes.

There are three things that combine here:
- Image indexes provide platform architecture portability with low friction to clients, they list references by digest which means you can be sure you're getting the expected content.
- Signing enables trust in images, and signing an index is a good way to say "these are definitely

[2022-04-14 09:57] BjoernAtBosch opened #3629 "Docker Desktop for Windows is ignoring proxy settings"
I installed Docker Desktop 4.7.0 (77141) on a MS Windows 10 Enterprise (Version 10.0.19042 Build 19042) running natively on a x86_64 hardware. I'm behind a corporate proxy and use a locally running cntlm to connect to and authenticate with the corporate proxy.

In the dashboard under "Settings" -> "Resources" -> "PROXIES" I switch on "Manual proxy configuration" and set the addresses of "Web Serve

[2022-04-14 10:08] BjoernAtBosch commented on #3629
Sorry, just observed that this is the wrong project to report this. Got the link from https://docs.docker.com/registry/help/ when searching for "docker report bug" at Google.

Will move this to the right place and close/remove it here.

[2022-04-14 10:16] #3629 closed

[2022-04-14 11:07] #2250 closed

[2022-04-14 11:07] m5p3nc3r commented on #2250
Closing stale issue

[2022-04-16 03:01] raxod502 commented on #2817
Cool, submitted https://github.com/distribution/distribution/pull/3630 against the other repository.

[2022-04-18 14:59] pchico83 commented on #3627
@milosgajdos sounds great!
We will wait for those PRs and re-evaluate if we want to propose API changes to the spec after that

[2022-04-19 02:52] cgperalt-harness commented on #3609
I found the root cause. This has to do with the Role assigned to the Service Account in use.
I assigned the `Storage Admin` role to my service account which according to this link https://cloud.google.com/storage/docs/access-control/iam-roles "Grants full control of buckets and objects"
However that wasn't enough. I found there is a legacy role called `Storage Legacy Bucket Owner` Once I added it

[2022-04-19 02:59] cgperalt-harness commented on #3609
As you can se below the `Storage Admin` role does have `storage.buckets.* ` which should include the same and more permissions as the Legacy one.
[code]

[code]

[2022-04-21 13:16] miladfarca opened #3633 "s390x: fstat does not return the correct device id"
[code]
1- Compile and run the above in gdb, make sure `/home/a.out` is the correct path of the compiled binary.
2- Check the value of `stat_buf.st_dev` after the fstat call, mine prints as `0x2c`.
3- Now in another window check the memory mappings provided by the OS for this process (process id being 39 for me):
[code]
4- The (correctly displayed) device id `fd:03` is not the same as `0x2c` which

[2022-04-21 13:29] milosgajdos commented on #3633
This is the wrong repo to report this issue on. Out of curiosity what made you think this is the right repo?
Please open an issue in moby/moby.

[2022-04-21 13:29] #3633 closed

[2022-04-21 13:31] miladfarca commented on #3633
The link under this page `GitHub project bugtracker`:
https://docs.docker.com/registry/help/
I guess it wasn't clear that it only applies to the `registry`.

[2022-04-21 13:35] milosgajdos commented on #3633
That's the correct link for _REGISTRY_ project -- it's in the registry section if you look on the left.

Distribution = [formerly known as] Docker Registry

[2022-04-25 06:35] SimonRupar commented on #3430
There is an forked and updated docker-registry supported by https://github.com/twuni/docker-registry.helm

[2022-04-25 08:24] milosgajdos commented on #3430
@felipecrs are you still interested in doing this?

[2022-04-25 12:25] felipecrs commented on #3430
@milosgajdos I just looked at the https://github.com/twuni/docker-registry.helm and it seems quite nice.

So, I don't think so, because the original gap I was concerned about isn't real anymore.

[2022-04-25 12:39] milosgajdos commented on #3430
Let's close this issue then?

[2022-04-25 13:10] #3430 closed

[2022-04-26 09:49] zyyw opened #3636 "registry can't run up when special character in REGISTRY_HTTP_SECRET env"
When I set REGISTRY_HTTP_SECRET to `>Z4&t2CyKuNp}qy2`, the registry can't start with error message like below:
[code]

[2022-04-27 07:47] ddelange commented on #1844
Can this issue be closed as of https://github.com/distribution/distribution/commit/ff87ad884c15ac64d1d3c34972ff6b0c040e59a7?

[2022-04-27 17:27] deleteriousEffect commented on #3636
@zyyw this is a yaml parsing issue, you'll need to quote strings with special characters: https://stackoverflow.com/questions/19109912/yaml-do-i-need-quotes-for-strings-in-yaml

Looks like you're using an environment variable, try exporting that value with double quotes `export REGISTRY_HTTP_SECRET='">Z4&t2CyKuNp}qy2"'` and see if that works.

[2022-04-27 21:06] svadnala commented on #3275
can confirm that with `2.8.1` still persists  with same error

`time="2022-04-26T20:08:29.773572268Z" level=error msg="response completed with error" err.code=unknown err.detail="s3aws: NoCredentialProviders: no valid providers in chain. Deprecated.
	For verbose messaging see aws.Config.CredentialsChainVerboseErrors" err.message="unknown error`

@switchboardOp  did you infer that building the dock

[2022-04-28 08:03] milosgajdos commented on #3275
Build of `main` or use `[edge](https://hub.docker.com/layers/distribution/distribution/distribution/edge/images/sha256-1689ce0b5e01ed75069f2f4fe183cdcf62549e21290a1861b68a2c793f73cf6c?context=repo)` tag from distribution Hub repo

[2022-04-28 08:49] wy65701436 commented on #3636
yes, you should use the above example to specify values if it contains any sepcial character. Close it as not a bug.

[2022-04-28 08:49] #3636 closed

[2022-04-29 17:08] Dees7 commented on #3611
All ok after update to the last version.

[2022-04-29 17:08] #3611 closed

[2022-04-30 20:12] TheChemicalWorkshop commented on #2223
it's been 5 years and i'm still stuck with this
whatever i generate is apperantly incorrect

`token signed by untrusted key with ID: "MY4D:MNRW:GY2T:IZBS:HAZT:QZRS:MQ4G:IMBX:GA4D:AYJY:GBST:AMJX"`

any possibility to reopen this/help?

[2022-05-02 21:21] milosgajdos commented on #2223
Btw, you might be hitting the _"issue"_ addressed by https://github.com/distribution/distribution/pull/3625

[2022-05-02 21:30] TheChemicalWorkshop commented on #2223
i am definetly not qualified to deal with tokens/cryptography but it's a private project (will be open source) where i sadly need to deal with it

https://forums.docker.com/t/need-help-with-nginx-as-authentication-for-private-docker-repository/124018
here is detailed info on my issues and attempts... can you please help me out and get the tokens working?

what should i change/try?

[2022-05-10 17:51] PGBI opened #3645 "Docker registry 2.8 in pull-through mode panics when storage driver=s3"
Summary: A container using the registry:2.8 image panics on startup when configured in pull-through mode and using the S3 storage driver.

--

I'm trying to setup a private docker registry as a pull-through cache, using s3 as a storage driver.

I'm using the docker image registry:2.8, which I start using the following env vars:
[code]

The registry runs on AWS ECS, with an IAM role that has full a

[2022-05-12 20:56] shcherbak commented on #3016
We are still suffering of this problem. If you need any details, please refer, i will provide information you need to fix this.
We have intensively used registry setup with swift backend and unable to clean it properly

[2022-05-12 20:58] shcherbak commented on #2188
We are still suffering of this problem. If you need any details, please refer, i will provide information you need to fix this.
We have intensively used registry setup with swift backend and unable to clean it properly

[2022-05-18 08:59] Jamstah commented on #3628
Discussed in May 10th project meeting: https://hackmd.io/TY0M7ZJ0SfO5qGC_hoJOkA

- Covered the use case (in the issue)
- Made it clear that the use case here is users running registries specifically to support their own infrastructure. This type of integrity check is important for public registries.
- Hayley and Milos are concerned about losing graph integrity within the registry and not being abl

[2022-05-25 14:12] me-coder opened #3648 "CVE-2022-28391 reported in busybox"
https://nvd.nist.gov/vuln/detail/CVE-2022-28391 reports a vulnerability in BusyBox.
The vulnerability is claimed to have been addressed in https://gitlab.alpinelinux.org/alpine/aports/-/issues/13661.

updating alpine tags from 3.15 to [3.15.4](https://hub.docker.com/layers/alpine/library/alpine/3.15.4/images/sha256-a777c9c66ba177ccfea23f2a216ff6721e78a662cd17019488c417135299cd89?context=explore) o

[2022-05-26 14:01] zfLQ2qx2 opened #3652 "Failing test building commit c202b9b0d7b79a67337dec8e1f1bafb1c7095315"
I don't think this is an issue with the registry itself, just one of the tests being set up, I think this is supposed to be skipped if the AWS environment variables are not present.

[code]

there we go, is missing this check at beginning of function:

if skipS3() != "" {
		t.Skip(skipS3())
	}

[2022-05-26 14:03] milosgajdos commented on #3652
I've fixed it in this PR https://github.com/distribution/distribution/pull/3635

[2022-05-27 07:38] thaJeztah commented on #3648
Thanks for reporting; this should be fixed now by;

- https://github.com/distribution/distribution/pull/3649
- https://github.com/distribution/distribution/pull/3650
- https://github.com/docker/distribution-library-image/pull/137
- https://github.com/docker-library/official-images/pull/12519

[2022-05-27 07:38] #3648 closed

[2022-05-28 12:53] mohammad-hakimi commented on #2042
That's it. You saved my life :))). Thanks a lot.

[2022-05-30 22:18] yaakov-h opened #3653 "Opaque error message when Kubernetes environment variables clas"
I have a little installation of Registry in a small Kubernetes installation, and am using cesanta/docker_auth to provide authentication.

Inside a single namespace I created two services:
- `registry`, for the image registry (`registry`)
- `registry-auth`, for the authentication provider (`cesanta/docker_auth`)

In this scenario, Kubernetes creates a handful of environment variables that allow sof

[2022-05-31 21:35] deleteriousEffect commented on #3653
We should wrap the error here with a specific error type that will print the environment variable name: https://github.com/distribution/distribution/blob/main/configuration/parser.go#L141 and look for that error here, so we can give a better top-level error that doesn't point to the config on disk: https://github.com/distribution/distribution/blob/main/registry/registry.go#L481

As for the environ

[2022-06-06 13:27] jbasb opened #3654 "Cannot push/pull images with local registry"
Created as was requested in [this issue](https://github.com/docker/distribution-library-image/issues/139).

I followed the instructions found here: https://hub.docker.com/_/registry

$ docker run -d -p 5000:5000 --restart always --name registry registry
$ docker pull ubuntu
$ docker tag ubuntu localhost:5000/ubuntu
$ docker push localhost:5000/ubuntu
Attempts to push or pull images time out with t

[2022-06-09 07:36] ChenQi1989 opened #3656 "Non-main branches & tags not compliant with OCI distribution specification"
According to https://github.com/opencontainers/distribution-spec/blob/main/spec.md#content-management, deleting a tag should be supported.
And we do have supported doing so in the main branch: 6ae6df7d Add tag delete API

However, looking at the other branches and tags, they do not have this commit.

Does this mean that only the main branch of this project could be considered fully compliant with

[2022-06-09 08:01] milosgajdos commented on #3656
That's correct. The key word here is _fully_ compliant.

You are not missing any information -- `v2.8.1` release is a _stable_ release, despite the fact that it does not support tag deletes. We make no guarantees about anything other than the stable release. If you want tag delete API you'll have to wait for v3 releaes (not sure when yet) or fork the repo.

[2022-06-09 10:43] ChenQi1989 commented on #3656
@milosgajdos  Thanks for your reply. The tag deletion API only makes deletion more convenient, the stability comes first. Close this issue as the info is quite clear.

[2022-06-09 12:25] ittus commented on #1431
I'm trying to set it up as pull-through cache for another private registry. It seems it works fine, the docker image can be pulled.

[code]

Registry version using: 2.7.1

It seems to work fine, it can pull images from another private registry. When I check the storage, the layers and blobs are available. From the second time, image is pulled in a shorter time, but not very short as a few seconds

[2022-06-11 02:44] annanguyen19 commented on #2042
Hey, what permission are you missing?

[2022-06-13 05:12] ChenQi1989 opened #3659 "BUILDING.md out of date"
The contents in BUILDING.md are no longer valid.
For now, building seems as easy as running a 'make' command inside the project directory.

[2022-06-13 07:02] milosgajdos commented on #3659
Can you open a PR that addresses it?

[2022-06-15 04:11] Carroll8686 commented on #3557
O

[2022-06-16 09:47] shcherbak commented on #2188
we are still suffering of this bug

[2022-06-16 12:01] ilyee opened #3662 "Is it possible to make swift driver write objects concurrently?"
When I use **swift driver** to push images, I find **layer's push would pause for a little time every chunk size**

https://github.com/distribution/distribution/blob/b5e2f3f33dbc80d2c40b5d550541467477d5d36e/registry/storage/driver/swift/swift.go#L808

And I find swift driver uses bufio writer to write blobs, which sinks its buffer to swift only if buffer is full(or single write bytes is bigger tha

[2022-06-20 08:09] yuyue9284 opened #3663 "Should support setting timeout for http client used in NewRepository funciton."
Can we support setting the timeout for http client used in NewRepository function?

https://github.com/distribution/distribution/blob/b5ca020cfbe998e5af3457fda087444cf5116496/registry/client/repository.go#L140-L144

[2022-06-21 07:21] milosgajdos commented on #3663
Client code needs a serious TLC. Feel free to open a PR with improvements :)

[2022-06-21 15:24] raravena80 opened #3664 "CNCF TAG-Runtime presention"
Hey distribution folks,

I'm one of the co-chairs for the CNCF TAG-Runtime. Just reaching out. It would be great for the project to present an overview, etc in our meeting.  If that sounds good please feel free to add it to the [agenda](https://bit.ly/cncf-tag-runtime-meeting-notes) of one our meetings.

Thanks!

[2022-06-21 20:16] deleteriousEffect commented on #3664
@raravena80 thanks for reaching out. This project is the reference implementation of registry, and we don't handle any runtime operations at all in this project. This isn't a no, but I wanted to clarify if an overview of this project would be useful to you.

[2022-06-22 14:25] hrobertson commented on #1948
In my case this error was caused by setting the `regionendpoint` to the bucket subdomain hostname rather than the region hostname.

`regionendpoint: "https://s3-us-east-2.s3.amazonaws.com"` :heavy_check_mark:
`regionendpoint: "https://my-bucket.s3.amazonaws.com"` :x:

[2022-06-22 14:46] awoimbee opened #3665 "Image reference format: pull from IPv6 addresses"
Hi,
Sorry if this is not the right place, I really don't know where to post this.
When I run a local container registry I can access it at `127.0.0.X:Y` (`X: 0-255` and `Y: 0-65535`). But I can't access it at `[::1]:Y` (`invalid reference format`).
I have tried with docker v`20.10.16` & crictl v`1.23.0` (cri-o v`1.23.2`).

Looking at the image reference format regex, this use-case is clearly not a

[2022-06-22 17:56] smartpierre commented on #3275
I can confirm, 2.8.1 is not working with IRSA 😔

[2022-06-22 21:16] switchboardOp commented on #3275
🎯 Yes. That's what is working for me. Built from the main branch about 2 months ago.

[2022-06-23 03:44] JackTien opened #3666 "Any security practice to configure AWS S3 ?"
Hi all,
Is there any security practice to configure AWS S3 (IAM rule or IRSA support) for distribution to download images?

[2022-06-24 03:49] raravena80 commented on #3664
@deleteriousEffect container registries are in the scope of TAG-Runtime.  We've had [Harbor](https://goharbor.io/), [Quay](https://quay.io/), and [Trow](https://trow.io/) present at our meetings for example. Happy to have you join.  Thanks!

[2022-06-24 22:05] bshaaban opened #3668 "update `google.golang.org/cloud`"
Any reason why this repo references a very old version of cloud ?
from go.mod, it's an explicit required module:
`google.golang.org/cloud v0.0.0-20151119220103-975617b05ea8`

my dependency chart shows:
`github.com/distribution/distribution/v3@v3.0.0-20220620080156-3e4f8a0ab147 google.golang.org/cloud@v0.0.0-20151119220103-975617b05ea8`

When building my tool that depends on this project, I get:
[c

[2022-06-25 09:25] viduranga0006 commented on #2807
Thanks. It is working

[2022-06-28 05:49] doberkofler opened #3671 "warning Encountered an unescaped open brace without an inline tag in comment starting with version 0.23.1"

[2022-06-28 06:57] #3671 closed

[2022-06-28 12:50] vincentgoat opened #3674 "Dependency tree was found to be deprecated"
Hi Community,
A 3rd-party dependency listed below was found to be deprecated, is there any plan to fix this issue?
https://github.com/distribution/distribution/blob/3e4f8a0ab1476a9516d02d76fbf869480541657f/registry/api/v2/routes.go#L3

[2022-06-28 21:47] pinaki124 opened #3677 "New release?"
The last release from this repo was from Mar 8 (v2.8.1), and the main branch is up to date with dependency versions which fix some major CVE's (Common Vulnerabilities and Exposures).

Can we get a new release out from this repository @thaJeztah ?

[2022-06-28 22:37] pinaki124 commented on #3677
Yes, this list is from Mend (formerly Whitesource). All of these attributed to distribution/distribution v2.8.1 and/or v2.7.1

https://osv.dev/vulnerability/GO-2021-0061
https://nvd.nist.gov/vuln/detail/CVE-2021-44716
https://nvd.nist.gov/vuln/detail/CVE-2016-9122
https://nvd.nist.gov/vuln/detail/CVE-2016-9123
https://nvd.nist.gov/vuln/detail/CVE-2022-21698
https://nvd.nist.gov/vuln/detail/CVE-201

[2022-06-28 23:20] shcherbak commented on #2188
We have large and intensively used registry, for example there is repositories with more then 500 tags. We investigated that garbage collect hangs when need to remove many (apx more then 1000 blobs). When we did garbage collecting with custom script, native garbage collect starts working fine

[2022-06-28 23:21] shcherbak commented on #2716
running with command switch `-m` can delete referenced manifest

[2022-06-28 23:22] shcherbak commented on #3016
We have large and intensively used registry, for example there is repositories with more then 500 tags. We investigated that garbage collect hangs when need to remove many (apx more then 1000 blobs). When we did garbage collecting with custom script, native garbage collect starts working fine

[2022-06-28 23:29] thaJeztah commented on #3677
Quick check on those;

-  https://nvd.nist.gov/vuln/detail/CVE-2021-44716

Affects Go 1.16 < 1.16.12  or Go 1.17 < 1.17.5; looks like containerd v2.8.1 was built with Go 1.16.15; https://github.com/distribution/distribution/blob/v2.8.1/Dockerfile#L3

- https://nvd.nist.gov/vuln/detail/CVE-2019-11254
- https://osv.dev/vulnerability/GO-2021-0061

Would require https://github.com/distribution/distrib

[2022-06-29 01:14] vincentgoat commented on #3674
Please see https://github.com/gorilla/mux/issues/659

[2022-06-29 06:28] milosgajdos commented on #3674
This is a call to find new maintainers. There is no mention of deprecation. I believe we should close this issue.

[2022-06-29 08:17] vincentgoat commented on #3674
It's been over 6 months since The Gorilla Toolkit found new maintainers. It's likely to be archived as what the issue described. But we can wait for the final result.

[2022-06-30 20:04] goors commented on #2225
I have same problem with NFS share when running on multiple instances (ingress controller). Scaling down to 1 replica solved that. I mean having multiple replicas would be awesome but I kind  of of made peace  with just one.

[2022-06-30 23:18] wmgroot opened #3678 "Paginated _catalog endpoint walks entire S3 repositories directory, resulting in 1+ minute responses."
Hello, I work at a company running an enterprise scale docker registry with 1300+ repositories used by our developers. These repositories are all hosted in S3.

When we attempt to call the _catalog endpoint, we're seeing that some paginated requests can take over a minute to return, and do not correctly return the link header to retrieve the next page of results (at 150/1300 results, not at comple

[2022-07-01 06:25] milosgajdos commented on #3678
Does this happen on `main` aka `edge` release? (https://hub.docker.com/repository/docker/distribution/distribution/tags?page=1&ordering=last_updated)

[2022-07-01 06:47] thaJeztah commented on #3678
@milosgajdos that link looks private? is this the one you meant? https://hub.docker.com/r/distribution/distribution/tags

[2022-07-01 07:07] milosgajdos commented on #3678
Ooof, I'm so sorry. Yes, that's the one I meant :-(  Corrected.

[2022-07-01 16:12] wmgroot commented on #3678
Using `distribution/distribution:edge` I see a 500 error for both example requests, which may be a 1 minute timeout on the connection.

[code]

[code]

[2022-07-05 14:21] Jamstah commented on #3620
This link has become outdated because you use a reference in main. Can you supply a stable reference please?

[2022-07-05 14:23] Jamstah commented on #3617
PRs:
main: #3623
2.8: #3619

[2022-07-05 15:43] Jamstah commented on #3607
I don't think this is a job for the registry - this seems like a feature request for the docker command line.

[2022-07-05 16:01] Jamstah commented on #3602
The s3 calls are all through a library, so I would expect it to generate well-formed XML. The library has been updated since this issue was opened: https://github.com/distribution/distribution/pull/3599

I doubt this project can do much unless we can get something reproducible.

[2022-07-06 13:25] Jamstah commented on #3628
Red Hat are looking to support this in quay: https://issues.redhat.com/browse/PROJQUAY-3114

[2022-07-06 13:30] Jamstah commented on #3578
What alternative mechanism would you suggest?

From what I can see, the client library requires the access key and secret: https://github.com/denverdino/aliyungo/blob/master/oss/client.go#L97

[2022-07-07 07:10] Jamstah commented on #3666
There is this in the doc: https://github.com/distribution/distribution/blob/main/docs/storage-drivers/s3.md#s3-permission-scopes

Is that what you need?

[2022-07-07 07:26] JackTien commented on #3666
Yes. thanks for your help.

[2022-07-07 07:26] #3666 closed

[2022-07-08 07:35] peusebiu commented on #3620
Hello,

Here it is https://github.com/distribution/distribution/blob/v2.8.1/registry/storage/driver/s3-aws/s3.go#L617

Thank you,

[2022-07-08 13:39] Jamstah commented on #3553
Is there a reason that you wouldn't want to run two registries instead, one for each hostname?

[2022-07-08 23:48] kaovilai commented on #3668
Same issue here.. https://github.com/distribution/distribution/pull/3684

[2022-07-10 00:35] Jamstah commented on #3678
Trying to reproduce this, I put 2000 repositories into an s3 backed registry running the latest built from source in the main branch.

It seems to be doing thing right for me, and making the right s3 calls. It's not exactly performant code (it restarts the walk with s3 from the base of the repositories path regardless of the `last` parameter), but it doesn't read too far. If you only have 1300 rep

[2022-07-10 02:14] Jamstah commented on #3587
I posted about this [on slack](https://cloud-native.slack.com/archives/C01GVR8SY4R/p1657285881993909) to see if there is any real appetite from the maintainers for making this split, I'd be happy to do the legwork if it's valuable, copying the message here for tracking:

I did a quick search of projects that may benefit from this: https://github.com/search?q=github.com%2Fdocker%2Fdistribution%2Fre

[2022-07-10 02:31] Jamstah commented on #3678
If this is down to the s3 calls being slow, try this PR: https://github.com/distribution/distribution/pull/3685

It passes the last parameter to the AWS API so that S3 doesn't need to return everything already paged past for each call.

I also built the docker image and pushed at `docker.io/jamstah/registry:aws-paging`

[2022-07-10 11:47] likeyrivers commented on #1274
@zzclynn  Have you solved this problem？ How did you do it.

[2022-07-10 15:02] Jamstah commented on #3645
Do you mean no problem in that it starts, or no problem in that you are able to successfully push and pull images to the repository when it is not in pullthrough mode?

pullthrough mode seems to make an s3 call during init, which means if the credentials aren't there it will fail immediately, but if you're not in pullthrough mode it won't hit storage until you try to use the registry. I suspect th

[2022-07-10 15:27] Jamstah commented on #3645
One problem could be getting the EC2 instance details from within the container: https://stackoverflow.com/questions/22409367/fetching-aws-instance-metadata-from-within-docker-container

You could try with `--net=host` or just running `curl http://169.254.169.254/latest/meta-data/iam/security-credentials/my_role` in a basic alpine container or similar, to check if that's working as expceted.

[2022-07-11 20:51] PGBI commented on #3645
Good point: No problem is that it starts. I hadn't tested further. And indeed even in this configuration, the container can't pull from / push to s3.

So my issue really is: I can't make my container use IAM roles to get the permissions to pull from / push to S3.

In my case, I'm using AWS Fargate, so there is no underlying EC2 instance that I am managing. The S3 IAM permissions are attached to an

[2022-07-11 21:14] Jamstah commented on #3645
And the role is set as the fargate job role?

I haven't tried it so I don't know if it works the same as on ec2, but the code will basically set up the AWS go sdk with no credentials and let the go sdk discover them. However fargate does it I would expect the sdk to know.

If get a chance I'll try it myself.

Can you update the issue title please?

[2022-07-12 16:18] Jamstah commented on #3645
I had a quick test with this, I made an ECS Task role with S3 access, created a task with the image `docker.io/distribution/distribution:edge` on a fargate cluster with the role assigned, and was able to run the task, connect to the container, and list all the images in my s3 bucket, without specifying credentials in any config/env vars.

[2022-07-12 20:04] #3645 closed

[2022-07-12 22:25] wmgroot commented on #3678
To add a little more context, we're running a docker-registry locally in each of our Kubernetes clusters. Our S3 buckets are populated by a central Harbor docker registry, with the following stats. I don't think this information changes the equation or repro steps at all, but just in case.
[code]

[2022-07-12 23:47] Jamstah commented on #3678
Is it always the same page that fails? Can you do a binary search and work out if there's a specific starting image that breaks it?

Do you have a huge number of tags for one specific image? The way the s3 driver works, the tag list will be fetched from s3 even though it isn't used.

[2022-07-13 14:14] RikkeHamilton commented on #1652
@collink Did you ever solve this? I am having the same issue.

[2022-07-13 18:01] wmgroot commented on #3678
It seems that any request to the /_catalog endpoint fails, even with n=1. All requests appear to produce the same `s3aws.ListObjectsV2Pages(docker/registry/v2/repositories/)` invocation that times out.
[code]

Our largest image has 1701 artifacts/tags, and there are about 25-50 total images with around 1000 artifacts.
Would adding additional logging to your custom registry image be helpful? I'm ha

[2022-07-13 22:33] Jamstah commented on #3678
Ah, ok, I expect that if you set last to one of the later repositories in your registry it would work - the code wasn't actually stopping the read for s3 when it had enough repos to return to the caller. There is code that was designed to do this, but it wasn't working.

I've updated the PR and the image `docker.io/jamstah/registry:aws-paging`

[2022-07-14 19:13] expeditioneer commented on #3171
I don't want to necro-bump this old issue but here if other persons are also stumbling over this.

Reason: since Systemd 236 are unknown '%' specifiers in configuration files rejected.

See: https://github.com/systemd/systemd/blob/8da70b9d3036591a02986ddaf3574dea4001d493/NEWS#L6488

[code]

[2022-07-15 16:28] aaronlehmann opened #3691 "Registry unnecessarily redirects blob HEAD requests to storage URL"
When the "redirect" option is set to true, it applies to both `HEAD` and `GET` requests for blobs. The use case for `GET`s makes sense - this avoids the registry needing to proxy potentially large blobs from the storage backend to the client. But in the case of `HEAD` requests, the registry [has already done a `Stat`](https://github.com/distribution/distribution/blob/8857a1948739db3520e2fb5211979a

[2022-07-15 18:16] mattheworris commented on #3046
I was able to solve this by making sure the docker daemon was running with real-time scheduler enabled:
/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock **--cpu-rt-runtime=950000**

Docker version 20.10.12, build e91ed57
CentOS 7.9

[2022-07-15 18:18] milosgajdos commented on #3046
This is the wrong repo to open an issue on. Closing. Please open an issue in moby.

[2022-07-19 15:22] fanchuanster commented on #2042
It can be a disk/storage utilization issue.

[2022-07-20 04:08] aaronlehmann commented on #3691
@milosgajdos: Any thoughts on this?

[2022-07-21 10:41] Jamstah commented on #3628
Two users with this use case (although they're using ECR): https://github.com/containers/skopeo/issues/1617

[2022-07-24 19:32] bigtfromaz opened #3695 "Bug in Registry API/Registry DELETE corrupts data store"
I discovered an issue that needs to be addressed related to the Open-Source Registry and its implementation of the Docker Registry API v2. The version reported at startup is `service=registry version="v2.8.1+unknown"`

I am prepping to develop an open-source package primarily to list and remove tags and images. It'll be tool for use when a repository admin no longer wants to offer certain images a

[2022-07-24 19:40] milosgajdos commented on #3695
Can you please tell us what version of the registry you tested this on? Was it a build from `main` or did you run a specific official registry image version, etc.?

I'm not following the reasoning here -- so if I get this right, the tag DID get correctly deleted as expected but you are unhappy that an _empty_ repo is returned in the `_catalog`  because you deem this to be an indicator of a corrupt

[2022-07-24 20:39] bigtfromaz commented on #3695
I didn't build the repo.  I merely pulled latest from the hub:
[code]
That currently starts version 2.8.1, which happens to be the latest tag.

To answer your question, absolutely.  What is an image with no tags and why should it be in the list? For my "ls repository" command, I planned display the results from _catalog.  If a user has deleted a repository, they aren't going to understand when it

[2022-07-25 02:00] Huimintai opened #3696 "Registry GC delete multiarch image manifest"
When I use registry GC for our local image repository.For our registry,we make all the images for multiarch images like this:
[code]
After I use registry GC,it delete the manifest for image`tke-business-controller`,however this image manifest shouldn't be deleted because this image is used in our environment.
![image](https://user-images.githubusercontent.com/11571376/180678528-946d828c-57ab-45aa-

[2022-07-25 03:20] Huimintai commented on #3696
Found the same issue :https://github.com/distribution/distribution/issues/3178 so close this one.

[2022-07-25 03:20] #3696 closed

[2022-07-25 03:24] Huimintai commented on #3178
https://github.com/tkestack/tke/issues/2032

[2022-07-25 08:27] milosgajdos commented on #3695
These two things are mutually exclusive.

Image with no tags is absolutely a thing: it's a manifest represented by a unique digest, but I suspect you meant to say "what is a repo without tags" -- it's an empty repo; in a similar fashion as GH repository does not need to contain any files or commits or tags.

[2022-07-25 18:58] bigtfromaz commented on #3695
@milosgajdos

True. But you can delete the repository in GH. Without DELETE capability every repository name ever stored will remain in the data layer forever.

I personally cannot fathom the creation of an entity API without Create, List, Read and Delete. That's why I struggled with this issue. The only DELETE I found is name/manifests. So, I'm thinking they're cleaning everything up by default.

[2022-07-25 18:58] #3695 closed

[2022-07-25 20:54] Jamstah commented on #3695
A thought here, is there a different behaviour with s3 and other storage drivers? With s3 of there are no files there is no directory.

[2022-07-25 22:04] deleteriousEffect commented on #3695
@Jamstah the `_layers` directory generally remains populated. You'd need to explicitly delete every layer reference one at a time to clear this directory out via the API + garbage collection alone.
So technically there is a difference, but in practice you'd need to really go out of your way to experience a difference in registry behavior.

[2022-07-25 22:38] Jamstah commented on #3695
Do any files remain in the _manifests path? revisions maybe? Its that that seems to be the indicator for a catalog entry: https://github.com/distribution/distribution/blob/4bf3547399eb8a27ee2ec463333c8c456d801345/registry/storage/catalog.go#L146

It probably doesn't really matter if one storage includes empty repos and another doesn't though.

[2022-07-25 23:07] deleteriousEffect commented on #3695
Looks like that's a mental cache miss on my part —  that changed with this commit: https://github.com/distribution/distribution/commit/a784441b6222bcf5e66feb0062d135dcc72dc9ee, I shouldn't have gone by memory, you're correct, sorry.

_Ideally_ each driver has the same behavior.
However, that's kind of an annoying requirement to impose on future drivers, even if we could do it today with the driver

[2022-07-25 23:30] Jamstah commented on #3695
Yeah, having played with the code a bit I feel like it would be sensible to have an object storage driver that has a different layout, maybe split the storage drivers into filesystem-like and object storage-like and do it that way. Trying to interact with S3 as a filesystem ends up with some messy looking code.

A lot of work though, and many more opportunities for more value with less work :)

[2022-07-26 08:54] lengrongfu opened #3697 "About storage use case discuss"
We encountered some strange scenarios when using non-standard object storage, and found that `distribution` could not be well supported and satisfied, and now ask questions for discussion.

condition：
- Storage: A storage that is not a standard s3 object filesystem， But we can use tools to `mount` the `bucket` of object storage to the local, similar to NFS.
- Image Push: The user needs to be able

[2022-07-27 13:40] geoidesic commented on #2866
Any progress on this? I'm getting the same issue with:
[code]

[2022-07-27 14:54] punkeel opened #3698 "Automatically retry failed HTTP requests"
It looks like the `distribution` code does not attempt to retry failed requests, even if doing so would be safe.

For instance, we sometimes get the following error in our CI.
`Get https://xxxx/v2/xxx/xxxx-images/main/manifests/59-a58fxxxx0328: received unexpected HTTP status: 504 Gateway Time-out`.

Which seems to be coming from the `HandleErrorResponse` function, and in my case from the `Get()`

[2022-07-27 15:24] bigtfromaz commented on #3698
Out of curiosity do you have a reverse proxy (e.g. Nginx, Haproxy) in front of your repository?  If so it may be that the proxy is relaying your request to the wrong place or that your registry server is down.

[2022-07-27 16:04] punkeel commented on #3698
We do have a reverse proxy in place (nginx). The configuration is right, as it works _most_ of the time – but (I suspect) the backend server times out for some requests. Even if we didn't have this reverse proxy, these requests would fail due to the timeout

I only shared a single error message, but this can happen with other failure scenarios (DNS, TLS handshake, etc) – I don't have good metrics,

[2022-07-27 16:23] Jamstah commented on #3698
Are you talking about the client implementation in this repository?

See https://github.com/distribution/distribution#how-does-this-integrate-with-docker-containerd-and-other-oci-client

[2022-07-27 16:37] thaJeztah commented on #3691
From your description, the current behavior seems to comply with the HTTP specs; from [RFC9110](https://www.rfc-editor.org/rfc/rfc9110.html#name-head)

I guess this part may be relevant here;

Performing the `Stat` would fall within that bit, but I guess it still needs to do the Stat _in order to_ get the redirect location?

[2022-07-27 16:40] aaronlehmann commented on #3691
I don't think it would violate the RFC for the registry to generate its own response to a `HEAD` using the stat information it already has. In fact, the RFC seems to encourage this kind of optimization:

[2022-07-27 16:48] thaJeztah commented on #3691
Thinking a bit further; so, in your case, there's `HEAD` request, but the client sees the `redirect`, so follows it?

Wondering if that's the part to look into; basically; if the `HEAD` has the headers it need, it wouldn't have to follow the redirect and do another request. I think that would still comply to the RFC if we do the same for both `GET` and `HEAD`

The cache headers should probably be

[2022-07-27 16:52] thaJeztah commented on #3691
Right, so I think there's two bits here;

1. Add the extra headers https://github.com/distribution/distribution/blob/8857a1948739db3520e2fb5211979aa62c3dd5da/registry/storage/blobserver.go#L62-L74

2. Remove the `Location` header

From the above, it feels like `1.` is fine, but `2.` may not be.

However, I think clients should be allowed to ignore a `Location` header (don't follow redirects), so i

[2022-07-27 17:19] aaronlehmann commented on #3691
I'm pretty sure existing clients do not have htis logic. Anything written in Go (such as Docker) will follow redirects automatically by default, unless this is explicitly disabled. I do not see the `distribution` client disabling redirect following: https://github.com/distribution/distribution/blob/8857a1948739db3520e2fb5211979aa62c3dd5da/registry/client/repository.go#L876-L880

Anyway, I think it

[2022-07-27 18:33] bigtfromaz commented on #3698
@punkeel I am just beginning the process of learning the internals of this repo so I leave the discussion of internals to others.  To that end you need to determine which component originated the 504. Was it the Nginx, the registry or something upstream that the registry uses?

If it's Nginx, it's not a registry issue.  Unavailable gateways and gateway timeouts can occur at any time. The condition

[2022-07-27 20:11] awoimbee commented on #3665
Fixed by #3489

[2022-07-27 20:11] #3665 closed

[2022-07-27 21:53] punkeel commented on #3698
@Jamstah – indeed, thanks for the ref! Looks like the `containerd` repo already supports retries, [source](https://github.com/containerd/containerd/blob/1a236784dcb7a8b65fb81f442cce8212cbb10381/remotes/docker/fetcher.go#L163)

@bigtfromaz (not as relevant if docker swaps the internal library for `containerd`, but you took the time to answer – I owe you an answer)

I agree with you that we should f

[2022-07-28 10:29] jonnymccullagh commented on #3275
@switchboardOp for the image you built could you push/tag it somewhere for others to try?
I am stuck with this same problem

[2022-07-28 17:12] bigtfromaz commented on #3698
I think the greater Docker is out of scope here. For distribution, I certainly agree that low impact retries could salvage some transactions, especially when traversing low quality networks. For all I know they already do retry when accessing external storage like S3. If not, it might be a good thing to discuss. I'm planning to expand my understanding of this project.  Perhaps I'll make time to re

[2022-07-28 18:33] wikicarlos commented on #2042
It happened to me, the issue was that i had no permits to create a new image, if you wanna overcome without adding permissions, upload using a different label to your image, and you should be fine =)
if nt, just add permissions to your role =)

[2022-07-29 01:45] jmontleon commented on #3668
I have a PR here with the tests passing again: https://github.com/distribution/distribution/pull/3702

I'll try to clean it up some tomorrow. Not quite ready to start review.

[2022-07-29 03:11] Huimintai commented on #3178
The problem @benz0li describes is still happening with registry v2.8.1 and I was facing the same issue now.
Is there any known fixes about this problem instead of tag image like image:tag-amd64 workaround.

[2022-08-01 12:53] leoryu opened #3704 "If using registry as a pull through cache, will the images be cleaned up periodically?"
Hi, guys, I'm using  registry as a pull through cache with 'proxy' config.
I found my mirror registry will download remote registry image data automatically.
Will the data, which have been downloaded in mirror registry, will be cleaned up periodically?

[2022-08-01 13:13] Huimintai commented on #3178
Hi @stevvooe for registry image GC,if I can only use `garbage-collect` instead of `garbage-collect -m`to clean my local registry.Because I found use `garbage-collect`does not delete manifests references.But I don't know what is the difference between this two command.

[2022-08-01 13:33] Newspaperman57 commented on #3178
The `-m` parameter is equal to the newer `--delete-untagged` parameter. I've updated the question and title to reflect this, and verified that this still happens on the newest version

[2022-08-02 13:53] Felixoid opened #3705 "Does caching proxy work on unavailable upstream?"
Hello. According to [manual](https://github.com/docker/docker.github.io/blob/master/registry/recipes/mirror.md#what-if-the-content-changes-on-the-hub), the registry mirror requests if the images updated on the ustream.

We use docker very intensively in our CI, and quite often affected by issues like this:

[code]

And then a huge number of jobs fail.

Do I understand correctly, that `registry:2`

[2022-08-04 20:10] kaovilai opened #3707 "s3 endpoint unable to handle ports"
Problems seems to be originating from aws-sdk-go
https://github.com/aws/aws-sdk-go/blob/45d52086ebc036a99a40b5912e6a3a8363321efa/aws/config.go#L50

Looks like back in the old days, we did support ports.

Made a PR to update test cases to reflect current situation. https://github.com/distribution/distribution/pull/3706

[2022-08-04 21:19] kaovilai opened #3708 ""Require contributors to sign off on web-based commits" is not enabled."
People with repository settings access should go to https://github.com/distribution/distribution/settings and check
- [x] **Require contributors to sign off on web-based commits**
 Enabling this setting will require contributors to sign off on commits made through GitHub’s web interface. Signing off is a way for contributors to affirm that their commit complies with the repository's terms, commonl

[2022-08-05 09:08] lengrongfu opened #3709 "Provides the function of a single mirror GC"
Discussion: The overall execution time of the GC in the service is very long, and during the GC, the warehouse is in a read-only state, so the use of GC is relatively infrequent. When you need to temporarily GC a certain image, you can set it by calling the interface or command line tool.

[2022-08-05 16:12] inselberg commented on #1636
Solved via:
 proxy_set_header X-Forwarded-Proto "https";

in nginx config.

[2022-08-06 02:44] lengrongfu commented on #3709
@milosgajdos Hello， Can we have a discussion on this issue?

[2022-08-11 04:44] sharvil opened #3712 "Periodically re-read SSL certificate (to allow for auto-renewal)"
It would be really nice if the registry could be configured to periodically re-read the SSL certificate from disk. I'm making this feature request to handle the scenario where SSL certs are updated by another process/container and the user is not using the built-in Let's Encrypt integration.

We could use the `tls.Config.GetCertificate` hook in the same way as the Let's Encrypt integration does.

[2022-08-15 14:22] thesayyn opened #3714 "Publish darwin and windows binaries with each release"
Currently only linux binaries are released with each release.

[2022-08-15 16:13] thesayyn commented on #3501
Related to #3714

I'd be willing to work on a PR that adds this. @milosgajdos

[2022-08-15 16:29] thesayyn commented on #3714
cc @crazy-max

[2022-08-15 16:33] deleteriousEffect commented on #3714
@thesayyn we don't support these platforms, so we'd to discuss and implement that before this issue becomes relevant.

[2022-08-15 17:05] thesayyn commented on #3714
I see. should I file a separate issue for that? I am mostly curious about darwin than windows.  I believe that supporting darwin would be substantially easier compared to windows unless distribution heavily depends on a Linux API.

[2022-08-15 17:06] thesayyn commented on #3714
Also, are there any plans to add support for darwin officially?  if so I'd like to help with that.

[2022-08-15 17:15] Jamstah commented on #3714
As a typically server-focused project, I'd like to hear more about why you think darwin support is important. Is there a reason you would want to run the registry on darwin in production?

[2022-08-15 17:21] thesayyn commented on #3714
Sure. I am working on a project adding OCI support to bazel. A speculative alternative to https://github.com/bazelbuild/rules_docker.  Part of the project requires me to spin up a local instance of a registry to work on images. mutating it, adding layers, etc.  As bazel being a build system, it will execute tasks locally and bazel can run on Linux, Darwin, and Windows.

[2022-08-15 17:24] Jamstah commented on #3714
So you want to use it as part of local development of another tool? That makes sense.

I'm not sure distribution would need to officially support darwin for that though - have you tried just compiling it for darwin yourself?

[2022-08-15 17:27] milosgajdos commented on #3714
This should work just by invoking `make binaries`

[2022-08-15 17:28] thesayyn commented on #3714
Ish. I want to use it as an ephemeral registry and accumulate changes there. There could be thousands of registry instances running simultaneously on different ports and storage directories.

[2022-08-15 17:32] thesayyn commented on #3714
That's a suboptimal solution as I would have to either;

- build for missing platforms for each version and as they get released and publish somewhere else.
- require users to have a correct `go toolchain` present on their machine to build from source.

the second option is the worst solution as it being error-prone and inefficient in terms of build-time and cache. Hence the optimal solution for m

[2022-08-15 17:36] milosgajdos commented on #3714
You raise fair points, but at the moment we're not planning to add support for either of these platforms.

You'll have to do away with running it from the docker image we publish to Hub, I'm afraid. At least for the time being.

[2022-08-15 17:36] thesayyn commented on #3714
I see that this was introduced back in https://github.com/distribution/distribution/commit/f13d1e02fed90bbdbe8e09b34084c5d7d4ee43b0#diff-870f6fe23fc034f008f5203ee1e628d7bfa65a49095d5a4688db498328449ed2R22 and got removed with https://github.com/distribution/distribution/commit/ea65fe2ea40b697c69fe75232e4635fe6e3d7b77#diff-870f6fe23fc034f008f5203ee1e628d7bfa65a49095d5a4688db498328449ed2L23

[2022-08-15 17:39] thesayyn commented on #3714
That's also an option but that would require a container runtime which we can't have as a requirement. :|

[2022-08-15 17:40] deleteriousEffect commented on #3714
I agree with Milos, I don't think we have capacity to official support another platform at this time.
We're still working through a sizable backlog.

[2022-08-15 17:42] Jamstah commented on #3714
Ah, your users also need to run it? Then in missing something, I thought you meant you would use it in your development.

How would your users use it?

[2022-08-15 17:46] thesayyn commented on #3714
Users are not engaging with the registry directly. they provide something similar to https://github.com/bazelbuild/rules_docker/blob/a8aff4076f75c4dfb39bd768dd9870b5d263e70d/tests/container/BUILD#L46 and we teach bazel how to build what described in this DSL.

[2022-08-15 17:51] Jamstah commented on #3714
So the idea is that you tell bazel to test that your image can be pushed, then bazel will say "to do that I need a registry", pull down a binary, run it, perform the test, and clean up?

So that's how the registry ends up running on users servers?

[2022-08-15 17:56] thesayyn commented on #3714
Exactly.

[2022-08-15 17:58] milosgajdos commented on #3714
and by "performing the test" we [also] mean pushing to the locally run registry?

[2022-08-15 18:07] thesayyn commented on #3714
Yes. Let me clarify with one example;

given;
[code]
bazel has been taught to do following;

1- what am I running on? `darwin/arm64`
2- what version of the registry do I need? `latest`
3- hit GitHub releases and get the prebuilt binary for `{platform}_{version}.tar.gz`
4- extract and run it on a random port; `7541`
5- run `tool  --base scratch --layer 1....11  localhost:7541/stage:latest`

[2022-08-15 20:20] Jamstah commented on #3714
@deleteriousEffect @milosgajdos what makes you say we don't have the capacity to support additional architectures? Is there a support guarantee for the existing ones?

Could we add the architectures and explicitly say they are community supported? If someone is willing to support Darwin I can only imagine it would be positive to the support for other platforms.

[2022-08-15 22:30] deleteriousEffect commented on #3714
@Jamstah there's not a support guarantee, but building and releasing binaries is a relatively strong endorsement for an application working on that platform.
I don't think we've explored registry on darwin enough to make this kind of endorsement responsibly.

I think we'd need to include more maintainers on this discussion to make that kind of decision.
I'll link this issue in our slack, it's wort

[2022-08-15 23:03] sudo-bmitch commented on #3714
This feels like a really good use case for the OCI Layout for storing images on the filesystem. It avoids external API calls, and a directory in Layout can be treated the same as a repository in a registry.

[2022-08-16 09:11] Jamstah commented on #3714
Is that testing the same thing though? I get the impression that the example is testing a registry client here, which means the API calls are exactly what we want.

[2022-08-16 11:41] sudo-bmitch commented on #3714
It depends on what is being tested. If they're testing the OCI APIs themselves, then Layout is a bad substitute, though I'd question if that would be better tested with mocking.

But if they want a way to build and modify images locally without a dependency on an external registry, I think the Layout is a better fit for the use case. I was going down the same path for regclient/regctl when adding

[2022-08-16 11:51] crazy-max commented on #3714
@thesayyn Should work with the bake definition in place:

[code]

`local` matches your host platform so should produce a darwin bin (in my case on M1 system).

[2022-08-16 12:17] thesayyn commented on #3714
This is the exact use case that I am after.

Thanks. I was able to build for testing on my mac

[2022-08-16 14:51] marcpawl opened #3715 "docker manifest create goes to docker.io"
My expectation is that the manifest would remain on my local machine until I pushed it, in the same way that an image does.

$ docker manifest rm builder_a7c700d_marcpawl:20.04-jdk11-102
No such manifest: docker.io/library/builder_a7c700d_marcpawl:20.04-jdk11-102
Why is it going to docker.io?

$ docker manifest create \
	    builder_a7c700d_marcpawl:20.04-jdk11-102 \
	    builder_a7c700d_marcpawl_

[2022-08-16 15:00] milosgajdos commented on #3715
Hey, this is the wrong repo to report this. Can you please open an issue in https://github.com/moby/moby/.

[2022-08-16 15:00] #3715 closed

[2022-08-16 19:51] Felixoid commented on #3705
The issue affects us pretty badly. We have a vast testing infrastructure, so the whole thing fails as a card house when there's a connection issue between proxy and docker hub. Here another case https://github.com/ClickHouse/ClickHouse/pull/40241#issuecomment-1216163109

[2022-08-17 01:05] marcpawl commented on #3715
Reopened as https://github.com/moby/moby/issues/43970

[2022-08-17 13:02] alexey-milovidov commented on #3705
This issue affects us a few times a day.

[2022-08-17 18:14] milosgajdos commented on #3705
Registry proxy has not seen much TLC in a while, unfortunately, but we are open to accepting PRs.

[2022-08-17 20:31] Felixoid commented on #3705
Can you point to a code where I could start my research, please?

[2022-08-17 22:29] Jamstah commented on #3705
TLC=Tender Love and Care, it basically means no one has put any work into making it better for a while.

The code for a proxying registry is here: https://github.com/distribution/distribution/tree/main/registry/proxy

[2022-08-18 10:31] Jamstah opened #3716 "Proposal: References support"
Based on [Proposal E](https://github.com/opencontainers/wg-reference-types/blob/main/docs/proposals/PROPOSAL_E.md) and the [OCI playground PR](https://github.com/opencontainers/distribution-spec/compare/main...oci-playground:distribution-spec:pr) of the reference types working group, I thought I'd write down some thoughts on how we could implement that in this project.

My proposal:

**Handling ma

[2022-08-18 17:32] sajayantony commented on #3716
@akashsinghal - it might be good to share the implementation design and details which you have been working on
at - https://github.com/oci-playground/distribution

[2022-08-18 18:47] akashsinghal commented on #3716
@Jamstah @sajayantony The proposal in general makes sense to me. In fact it's very similar to the implementation we were playing around with here: https://github.com/oci-playground/distribution.
There are some notable differences:
1.  The `artifactType` is built into the link file paths for the references.
2. The link file reference paths live under the corresponding manifest revision path.
I like

[2022-08-18 21:49] Jamstah commented on #3716
What makes you say this? If you can create references when a referrer is added to the registry, you can delete those same references when you remove it.

[2022-08-18 21:51] Jamstah commented on #3716
Lets say you have an existing registry installation and upgrade to a version that supports references. The registry needs to know that on startup it needs to scan all the existing images for any with a refers tag and add them to the filesystem. If it doesn't do this, those references don't work.

If that file doesn't exist, the registry knows to do that work, and create it. If the registry is crea

[2022-08-18 21:53] Jamstah commented on #3716
That's no coincidence, I had seen and browsed through that code and thought it was a good approach, like you say though, I thought some tweaks were worth considering.

I'm sure if/when I attempt an implementation, I'll be back to look at that repo again, and of course, to make sure the authors appear in the changelog somehow :)

[2022-08-18 21:56] akashsinghal commented on #3716
@Jamstah Thanks for the clarification. Makes sense now. Yeah now that I think about it, it's not a full scan because when deleting the referrer we'd know the referee so we'd now where to clean up too. Disregard my comment :)

[2022-08-19 14:45] me-coder opened #3717 "CVE-2022-28391 & CVE-2022-30065 reported in BusyBox v1.35.0 which comes with Alpine 3.16.2"
[CVE-2022-28391](https://nvd.nist.gov/vuln/detail/CVE-2022-28391) & [CVE-2022-30065](https://nvd.nist.gov/vuln/detail/CVE-2022-30065) reported in BusyBox v1.35.0 which comes with Alpine 3.16.2

[CVE-2022-30065](https://nvd.nist.gov/vuln/detail/CVE-2022-30065) has been resolved https://bugs.busybox.net/show_bug.cgi?id=14781. However, it isn't released yet.

[CVE-2022-28391](https://nvd.nist.gov/vul

[2022-08-22 01:27] aiwanwan commented on #1196
I added this, and it worked for me.
echo 'export KUBECONFIG=$HOME/admin.conf' >>$HOME/.bashrc

[2022-08-22 03:44] #3550 closed

[2022-08-22 16:17] taxilian commented on #2958
I would really like to see this as well; I recently added support to another Go library, if I make a pull request for this would it likely be accepted?

[2022-08-22 16:28] milosgajdos commented on #2958
We would certainly look into it. This seems like something this project would benefit from, indeed.

[2022-08-22 16:38] taxilian commented on #2958
The basic changes which would be needed to make this work:

* Add a way in the s3 config to specify to use a customer key and encryption type
   * e.g. instead of `encrypt: true`, `customerEncrypt: { type: string, key: string}`
   * The two things the user needs to be able to provide are the type, which AFAIK is always "AES256" but some non-aws s3 providers might allow other options (it would be n

[2022-08-23 02:53] qweeah opened #3718 "'Docker-Content-Digest' header in resp won't match body digest if there is a media type conversion"
If a docker v2 image (application/vnd.docker.distribution.manifest.v2+json) is stored in distribution and users tried to get its manifest as v1 image(application/vnd.docker.distribution.manifest.v1+prettyjws) via `/v2/<repo>/manifests/<tag>`, then **'Docker-Content-Digest' in the response header will not match the real digest calculated from the response body**.

## Reproduce Steps
1. Start distri

[2022-08-26 02:52] shatil commented on #3712
+1 on the auto reloading of the cert! However, rather than periodically, might I propose that the cert-key pair be monitored for changes on disk, and reloaded when changes are detected?

[Kubernetes' `certwatcher`](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/certwatcher) does this using the [`fsnotify`](https://pkg.go.dev/github.com/fsnotify/fsnotify) library, and it can be used with sni

[2022-08-29 02:48] lengrongfu opened #3719 "Support OCI reference types"
`OCI` has published a specification for `reference types`, do we plan to implement it in some future version?

proposed image-spec changes: https://github.com/opencontainers/image-spec/pull/934
proposed distribution-spec changes: https://github.com/opencontainers/distribution-spec/pull/335

[2022-08-29 05:24] #3719 closed

[2022-08-29 14:48] hhstu commented on #3253
care

[2022-08-30 01:37] #3697 closed

[2022-08-30 01:37] #3709 closed

[2022-08-30 16:18] Jamstah commented on #3717
Neither netstat nor awk are used in the registry image, I don't believe these CVEs apply to distribution.

[2022-08-31 05:38] LeoQuote opened #3720 "need a max size or ttl setting for redis cache"
recently I found that the redis we are using for docker registry is running out of memory , I checked the source code of docker registry and did not find any cache cleaning code, I think it would be more appropriate to have a max memory size or ttl setting for each cache key, or the redis usage would be endless.

[2022-08-31 07:07] fredrikhgrelland commented on #3275
This is an older build, but comes directly from the source distribution/distribution@sha256:79dfd00f73f4c258c38457dd0364fd31f80e996713286cb9ab601206de6085fb

This kustomize will work with irsa from the default helm chart:

[2022-08-31 07:50] Jamstah commented on #3720
Some context here: https://github.com/distribution/distribution/pull/3689

[2022-08-31 08:11] LeoQuote commented on #3720
@Jamstah really appriciate your comment! The pr you mentioned is a good start, I just enabled redis lru eviction for this case , it would be better if distribution itself has a control on it.

[2022-08-31 09:18] Jamstah commented on #3720
Is there a reason you think it would be better to configure this in the registry config instead of in the redis config? Redis has a long history of being a cache and managing data like this, is there something the registry could do that would be better than what redis could do?

[2022-08-31 09:44] milosgajdos commented on #3720
I too believe this should be handled on Redis side not on the registry side.

[2022-08-31 10:47] LeoQuote commented on #3720
I'm not really familliar with the mechanism of disribution cache.
I assume each key in redis is for one single repository , if that's the case, this would be safe, as there wont be any partial cache exists. But if it's not, this should be controlled by distribution.

[2022-08-31 11:47] 06kellyjac opened #3721 "New release after moving to go modules"
Now the repo has moved to go modules it'd be nice to get a new release tagged if it's in a decent state

[2022-08-31 11:52] milosgajdos commented on #3721
There is no immediate plan for this as we've got quite a few things to do before we can cut a release https://github.com/distribution/distribution/milestone/22

[2022-09-01 00:15] LudovicBouvierJohnston commented on #1361
I am really not sure what you are saying have you managed to make it work? Me too I am using an IIS reverse proxy. because win-acme runs on iis and my Docker host is on a vm hosting my registry. I am pretty sure the reverse proxy is causing the issue on my part. I am not sure how to enable get, post, head, put, patch, delete on iis.

My reverse proxy is https://docker.domain.xyz that points to htt

[2022-09-01 14:44] Felixoid opened #3722 "One gone blob in proxy mode causes permanent broken image"
Hello. In our CI we face the same and same error again, which is described in https://github.com/ClickHouse/ClickHouse/issues/39797

I am able to reproduce it in the current `main`

[code]

Then in another terminal, I do:

[code]

And it's completely broken. The full execution logs are in the [log.txt](https://github.com/distribution/distribution/files/9470858/log.txt)

I assume the problem in the

[2022-09-02 06:54] BusyOppo opened #3723 "docker/distribution 404"
rename cause go mod breaking , WTF ?

[2022-09-02 07:32] Jamstah commented on #3723
Can you be more specific?

[2022-09-03 12:38] lengrongfu commented on #3722
Why does the `image blob` file get deleted in the `CI` pipeline?

[2022-09-03 13:37] lengrongfu commented on #3722
This is due to the use of cache and storage, resulting in inconsistent data. The cache still records the data existence sign, but the storage no longer exists. If you are worried about this happening, it is recommended to close the cache.

[2022-09-03 21:38] Felixoid commented on #3722
I don't get what means "close the cache"

We use registry proxy for cashing. I don't know yet why three blobs are deleted from time to time on the first place. The question is how to avoid it, ideally fix the code to redownload missing blobs

[2022-09-04 05:03] lengrongfu opened #3725 "Support for multiple proxies"
The current distribution only supports proxy requests for one domain name. Can we redesign the proxy to support multiple domain names?

If it is acceptable, I will design and develop.

[2022-09-04 05:04] lengrongfu commented on #3725
@milosgajdos

[2022-09-04 08:31] Jamstah commented on #3725
I think it's a sensible idea, I would suggest worrying down the design first before starting writing the code.

[2022-09-04 08:32] Jamstah commented on #3725
It was also raised here: https://github.com/distribution/distribution/issues/3253

[2022-09-06 15:04] Jamstah commented on #3725
Because no one has implemented it yet :)

I don't think there is anything that doesn't match the project goals that would stop it being implemented. Really, either this issue or that one should be closed as a duplicate.

[2022-09-06 15:57] spyroot opened #3726 "macOS impossible to set swap to 0 or disable swap"
Hi Folks,

In macOS Docker UI and CLI.  impossible to set swap to 0 or disable swap nor does docker update has any effect.

Thank you.

[2022-09-06 15:59] milosgajdos commented on #3726
@spyroot please open an issue on moby/moby. This is a distribution aka registry repository.

[2022-09-06 15:59] #3726 closed

[2022-09-06 19:27] niels-bosman commented on #2042
This might only be my stupidity (probably), but I missspelled ghcr.io for ghrc.io.

[2022-09-07 01:14] lengrongfu opened #3728 "config proxy cache TTL from config file"
The current proxy cache TTL is a constant hardcode， we can move to the config file

[2022-09-07 01:14] lengrongfu commented on #3728
/assign

[2022-09-07 01:34] lengrongfu commented on #3725
The proxy configuration is adjusted as follows：
[code]

Because we need to proxy multiple registries, we need to distinguish, add the `name` field as a distinction, and in order to be compatible with previous usage scenarios, you can configure a proxy with a name of `/`.

In use, the request address needs to be modified: e.g.
[code]

[2022-09-07 08:38] Jamstah commented on #3725
One issue with that layout is that its not compatible with existing configuration files - the proxy stanza is a map not an array. I think it would be sensible to work out a way for existing configurations to work without modification, and also allow for an extended configuration.

Also, I would say that instead of `name` we should use `path` to be clear what the value will be used for.

If we're m

[2022-09-07 13:13] #3728 closed

[2022-09-07 16:22] bainsy88 commented on #3716
@Jamstah Looks a good proposal to me - the one niggling thought I have is if artifactType could have any chars that could cause any problems for a particular storage driver and would therefore need coding around. The one springs to mind that may come up in a mediaType is a `+`.

I did a sanity check for S3 as that's what I use and while it's [documented](https://docs.aws.amazon.com/AmazonS3/latest

[2022-09-07 16:35] lengrongfu commented on #3725
Regarding compatibility with past configurations, I don't have much idea.

because this structure changes too much, mapping from one `registry` to one `proxy` to one `registry` mapping multiple `proxy`, this change is too big. If you have a good idea, you can propose it.

If it is to follow the Proxy configuration in the form of an array, I agree to change the `name` to `path`.

Please, the idea o

[2022-09-07 18:16] Jamstah commented on #3725
We could use a different key, such as `proxies`, or `proxy-map`, something like that.

Or we could use:
[code]

And then if there is a remoteurl configured at the top level, we could map it to the path `/` by default.

[2022-09-07 18:17] Jamstah commented on #3725
If we want to proxy just one organisation in dockerhub for example, like we want to proxy `docker.io/ubuntu` because we trust the owner of that organisation, but not the whole of `docker.io`.

So in my example:
[code]

[2022-09-07 22:12] Coinbitstarhydro opened #3730 "LaPrimeraYaliyahSGA"
File: [docs/spec/manifest-v2-1.md](https://docs.docker.com/registry/spec/manifest-v2-1/)

[2022-09-07 22:33] Jamstah commented on #3730
Was this issue opened by mistake, or is there missing content?

[2022-09-08 05:16] callmetushar123 commented on #2907
can someone assign this to me? I can try to fix this

[2022-09-08 06:03] Polapan commented on #2907
Any reward for that bug report?
Thanks

On Thu, 8 Sep, 2022 at 11:17 AM, Tushar ***@***.***> wrote:

[2022-09-08 07:32] milosgajdos commented on #2907
Can you please clarify what "website" are you talking about here?

[2022-09-08 07:34] Polapan commented on #2907
Thank you for your response. I think github but 3 years ago I reported this
bug😶

On Thu, 8 Sep, 2022 at 1:32 PM, Milos Gajdos ***@***.***>
wrote:

[2022-09-08 11:22] sudo-bmitch commented on #3716
The client SHOULD define an artifactType, which means the artifactType MAY be missing (zero length string in Go). So you'll want an extra case to map that to a reserved string (anything that isn't valid as a future IANA media type would work).

The artifactType will also include a `/` (e.g. `application/vnd.company.sbom`), so you'll want some encoding on the string if it's embedded in a filesystem

[2022-09-08 16:33] lengrongfu commented on #3725
I like this style.

[2022-09-08 16:54] lengrongfu commented on #3725
I agree with your long-term thinking on this issue.

But I have some ideas about this configuration.

There are often multiple organizations in dockerhub or other registries. If we have multiple organizations that can be trusted, such as ubuntu, centos, nginx, etc., the same proxy registry needs  Configure multiple configurations. We can add a field `subPath` here to record the trust organization?

[2022-09-08 17:05] Jamstah commented on #3725
Also, `subPath` might be better as `namespaces`, which I've seen used as a term for organising registries.

[2022-09-13 15:46] michaelenew opened #3733 "Specifying options after image name in `docker run` does nothing"
When using `docker run`, specifying options after the image name changes nothing about Docker's behavior.

For example, below the attempt to specify bind mounts does nothing and no message is surfaced to indicate that something may be wrong about the way the user is trying to use Docker.
[code]

Per the [documentation](https://docs.docker.com/engine/reference/run/), Docker does not throw a hard er

[2022-09-13 16:21] milosgajdos commented on #3733
This is the wrong repo to open this issue in Please ask in `moby/moby`.

[2022-09-13 16:21] #3733 closed

[2022-09-15 17:24] lengrongfu commented on #3725
Then the structure of this configuration is defined as follows

[code]
e.g.
- before pull:`docker pull centos:7`
- proxy pull: `docker pull registry.proxy.com/dockerhub/centos:7` can success.

- proxy pull: `docker pull registry.proxy.com/dockerhub/nginx:1.23.0` can fail.

Url is `{domain}/{path}/{reponane}:{reporag}

[2022-09-15 21:01] Jamstah commented on #3725
Great!

Some more thoughts, would this be valid to be able to rename remote namespaces into the proxy?

[code]

And, shouldn't it be `namespaces` not just `namespace` because there can be multiple?

Overall though, it feel very flexible and configurable.

[2022-09-16 14:00] sagikazarmark opened #3735 "JWT token is rejected if the audience claim is a list"
Although the spec says the `aud` claim is a string, it's often represented as a list.

Currently, the registry fails with the following error: "error while unmarshalling raw token: json: cannot unmarshal array into Go struct field ClaimSet.aud of type string"

[2022-09-16 14:45] mshamn6x commented on #2719
I'm using same URL in same. Got following output in CURL,

* HTTP 1.0, assume close after body
< HTTP/1.0 400 Bad Request
<
Client sent an HTTP request to an HTTPS server.
* Closing connection 0

Hence tried the same in postman, Still couldn't delete it. Getting MANIFEST_UNKNOWN in postman.

https://{{docker-registry}}:5000/v2/<image-name>/manifests/sha256:{image-digest}

{
    "errors": [

[2022-09-16 14:52] brackendawson commented on #3735
It's not in a release yet but I think this should be fixed on main as the project now uses github.com/golang-jwt/jwt/v4

https://github.com/golang-jwt/jwt/issues/114

[2022-09-16 15:57] sagikazarmark commented on #3735
I may be wrong, but the current implementation still uses a custom claim structure and the audience is represented as a string, not as `ClaimStrings`: https://github.com/distribution/distribution/blob/main/registry/auth/token/token.go#L47

Admittedly, I only tested it on the latest 2.x version.

[2022-09-17 08:43] lengrongfu commented on #3725
Yes, is `namespaces`, it should be plural not singular.

The introduction of `namespaces` is to record the trust organization, but where the `image URL` will be defined as the organization, the URL of the `image` is different.
e.g.
- docker.io/library/centos:7
- docker.io/bitnami/centos-base-buildpack:7-r9
- test.registry.io/test1/test2/test3:v1

[2022-09-17 08:57] lengrongfu commented on #3722
For example, the configuration used before is, the delete cache field is "close the cache".
[code]

According to the description of the problem you reproduced, it is caused by the incorrect way to delete the blob file.

By not using cache, I think this problem can be avoided.

[2022-09-19 12:15] Jamstah commented on #3725
Oh, sorry, I was thinking that you might use both, it was really so you could organise the hierarchy differently on your local repo:

[code]

So:
- `proxy.io/k8s/*` -> `registry.k8s.com/k8s/*`
- `proxy.io/quay-ubi8/*` -> `quay.io/ubi8/*`
- `proxy.io/quay-ubi7/ubi-minimal/*` -> `quay.io/ubi7/ubi-minimal/*`
- `proxy.io/dockerhub/centos/*` -> `hub.docker.com/centos/*`
- `proxy.io/dockerhub/ubuntu/*`

[2022-09-21 13:56] joycebrum opened #3738 "Enable OpenSSF Scorecard Github Action"
Hello, I am Joyce and I'm working on behalf of Google and the [Open Source Security Foundation][ossf] to help essential open-source projects improve their supply-chain security. Given the impact Distribution has in many projects on storing and distributing container images, the OpenSSF has identified it as one of the 100 most critical open source projects.

Would you consider adopting an OpenSSF t

[2022-09-22 14:57] rahul3002 commented on #2658
i would like to fix this issue

[2022-09-22 15:27] milosgajdos commented on #2477
@rahul3002 do you want to open a PR that fixes this?

[2022-09-22 15:29] rahul3002 commented on #2477
yes i want to open

[2022-09-22 15:30] Jamstah commented on #3738
It sounds like a good idea, is there any way to get a preview of what the output would be for this specific project?

[2022-09-22 15:48] milosgajdos commented on #2477
Please, be our guest --  we welcome contributions :)

[2022-09-22 16:07] thaJeztah commented on #2477
Before we change; please double check if the regex in code matches the actual specification; in case there's a bug in the code; https://github.com/opencontainers/distribution-spec/blob/main/spec.md#pulling-manifests

[2022-09-22 16:50] joycebrum commented on #3738
Sure, you can run the Scorecard in any public github repository using the CLI. The configuration progress takes less than 10 minutes and you can see the step by step in https://securityscorecards.dev/#using-the-cli.

The basic command `scorecard --repo=https://github.com/distribution/distribution` shows you an overview of each Check Criteria, for more details you can use the `--show-details` optio

[2022-09-22 17:05] joycebrum commented on #3738
Hi @Jamstah, If you prefer I can also run it and post it here, just let me know if this is better for you

[2022-09-22 17:22] Jamstah commented on #3738
If you've got it installed already I'll take you up on the offer :)

[2022-09-22 18:14] joycebrum commented on #3738
Here is the scorecards simple run to the distribution repo

OBS: The Pinned Dependencies and Packaging checks didn't work properly due to an error in the dockerfiles/vendor.Dockerfile:1:1 that I will have to look better to solve when I prepare the PR, but even without those two scores, your project achieved a very great Score! Just by comparition, your project is in the top 15%!

Any doubts just r

[2022-09-22 22:43] Jamstah commented on #3738
Not bad, and some easy wins to look at too. Thanks for the report.

I'm out for a couple of weeks now, but might have a look at closing some gaps when I'm back.

[2022-09-22 22:44] Jamstah commented on #3738
Lets start with this super easy one: https://github.com/distribution/distribution/pull/3739 :)

[2022-09-23 06:31] ctrox commented on #3725
I'm also fairly interested in this, is somebody already working on an implementation?

[2022-09-23 14:46] rahul3002 commented on #2477
sure will check it, I'm working on it

[2022-09-23 18:43] joycebrum commented on #3738
Yeah, there very easy wins security practices, and if you want help on doing that I can work on that too on related issues like the one you've mentioned.

But just to make it clear you can adopt the [Scorecard GitHub Action](https://github.com/ossf/scorecard-action) and then start working on the proposed solutions that are shown in the [security dashboard](https://github.com/distribution/distribut

[2022-09-23 19:59] Jamstah commented on #3738
This repository is very slow moving at the moment so I expect it wouldn't merge quickly, but I would say open the PR to add the action. It will at least then be a place for maintainers to discuss it. Otherwise, I'll look at raising it when I'm back from vacation.

[2022-09-24 07:48] rahul3002 commented on #2477
I'm unable to understand what kind of regex u want to update In it

[2022-09-24 18:23] milosgajdos commented on #3735
It's true, according to [RFC](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.3), that in the general case, indeed.
Would you be willing to open a PR that addresses this for the `token` auth?

[2022-09-25 16:23] sagikazarmark commented on #3735
Sure.

Should I target the latest dev branch (3.x) or should it be a bugfix on the latest release branch (2.x)?

[2022-09-25 16:35] milosgajdos commented on #3735
2.x branch will only have critical vulnerability fixes considered to be merged. Please target the main branch.

[2022-09-27 01:23] sagikazarmark commented on #3735
@milosgajdos one more question: would you prefer a solution that doesn't import the aforementioned jwt library?

As far as I can see, it's not actually used for the token auth (it mostly reimplements JWT).

If you don't mind using the jwt library, I could refactor the existing code as well.

Since the package already has everything it needs, it's probably easier to just copy the claim string solut

[2022-09-27 07:55] csutorasr commented on #1361
How to disable WebDAV from UI: https://help.salesforce.com/s/articleView?id=sf.cg_modeler_ibe_disable_webdav_publishing.htm&type=5

This is a nice answer, please check it: https://stackoverflow.com/questions/12440277/how-do-i-enable-http-put-and-delete-for-asp-net-mvc-in-iis

[2022-09-27 22:01] Felixoid commented on #3722
We use the proxy exactly for caching.

It happened again. Now we had a failing image

[code]

And the failing blob is ubuntu:20.04

[code]

It looks like an expiring parent image's blob breaking the world.

[2022-09-27 23:05] x-yuri commented on #2959
You didn't enable deletion. Remove the spaces:

[code]

Or better yet, use the dictionary notation:

[code]

As such, not an issue with the registry. It might be a Docker Compose issue, depending on whether you think it should ignore spaces.

[2022-09-27 23:20] x-yuri opened #3743 "Can't push after garbage collection"
That is, after garbage collecting an image, if I push it back it will look like it succeeded, but it didn't. The workaround is restarting the registry after garbage collection.

`docker-compose.yml`:

[code]

`Dockerfile`:

[code]

[code]

Restart the `docker-compose` project.

[code]

[2022-09-28 12:39] sagikazarmark commented on #3735
Even though the PR does not use the JWT package, I'd still consider refactoring the code to use it: https://github.com/golang-jwt/jwt

It's an established package that focuses on properly implementing JWT, fixing potential bugs, etc.

[2022-09-29 16:07] clutzer commented on #2292
Problem still exists.  Had to configure the following in my k8s YAML file:

    - name: REGISTRY_HEALTH_STORAGEDRIVER_ENABLED
      value: "false"

[2022-10-01 17:00] milosgajdos commented on #2958
SGTM, @taxilian . Do you wanna go ahead and open a PR so we have something to discuss?

I agree the `if` "goulash" above will need to be abstracted away :)

[2022-10-02 00:23] taxilian commented on #2958
I've been meaning to, just haven't had a lot of time -- I figured at the least I could share what I'd learned to help speed someone else up if I don't get to it.

[2022-10-02 19:51] bigtfromaz commented on #3573
@sagikazarmark

This seems like your idea would be useful in my scenario. We want to PUSH and PULL internally using one container and an internal auth domain. We also want to allow our clients to PULL from the edge using a different auth domain issuing credentials. This will allow us to issue new images to authorized users, while denying them the opportunity to change our repository contents. We'l

[2022-10-03 10:15] sagikazarmark commented on #3573
@bigtfromaz I haven't, but in theory, it should be possible.

Also, it sounds like you not only want to separate read/write instances, but also want to integrate custom authorization mechanisms.

The registry has a custom auth specification that allows you to do that: https://github.com/distribution/distribution/tree/main/docs/spec/auth

This repo provides a reference implementation: https://githu

[2022-10-03 23:02] taxilian commented on #2958
Aight, just opened the PR -- I haven't tested it yet :-P I'm working on figuring out how to do that now, but I figured I'd push up what I had so at least if I get sidetracked before I can finish someone else wouldn't have to recreate the work I did.

I'll leave discussion for the PR, but there are some things in there that I'm not 100% sure will work due to being a total golang newb.

[2022-10-04 00:08] taxilian commented on #2958
Tests complete and it's working great using Backblaze B2 now =] Sadly it doesn't work on ceph object storage, but that's because of a missing feature on the Ceph side. (see PR for discussion)

[2022-10-04 08:06] milosgajdos commented on #2958
thanks, I'll have a look this week

[2022-10-04 14:52] str1k3r commented on #3743
facing with the same issue on latest distribution build.

[2022-10-04 15:36] bigtfromaz commented on #3573
@sagikazarmark I read the above but I'm not sure I would want to implement a token server as opposed to wiring up to a third party implementation, i.e., Azure AD. At this time, we have a well-known population of PULL-only consumers. To keep it simple, I'll simply use two Tomcat basic auth datasets having strong passwords, one used by on-premise container and the other on edge containers. With that

[2022-10-04 22:26] x-yuri commented on #3743
According to the `docker-compose.yml` file above, I guess yes, because that must be the default.

If that's a... caveat? then I think it should be documented. Are there any other possible consequences? I mean it sounds like after such a push you definitely want to restart the registry.

[2022-10-08 21:14] sagikazarmark commented on #3573
@bigtfromaz it's not completely ready yet, but I decided to publish it: https://github.com/distribution-auth/auth

[2022-10-11 10:23] Bec-k opened #3749 "Let's encrypt tls certs issuing feature is broken"
acme-v01.api.letsencrypt.org should be acme-v02.api.letsencrypt.org with v02, v01 is long ago deprecated.

`Get "https://acme-v01.api.letsencrypt.org/directory": dial tcp: lookup acme-v01.api.letsencrypt.org on 10.193.3.3:53: no such host`

[code]

[2022-10-11 10:25] denissabramovs commented on #3041
Still not fixed? 3 years have passed...

[2022-10-11 10:29] milosgajdos commented on #3041
Would you like to open a PR @denissabramovs ?

[2022-10-11 10:33] Jamstah commented on #3749
Which version are you using?

[2022-10-11 10:48] Jamstah commented on #3749
Related: https://github.com/distribution/distribution/issues/3041

This is fixed in main.

[2022-10-11 13:53] denissabramovs commented on #3041
Nope, why would i? I just installed certbot myself, issued certs through it and configured crontab.

[2022-10-12 10:34] TacoBel42 commented on #1652
Any updates ?
have the same issue
**my docker-compose.yml**

[code]

[2022-10-13 16:00] aaronlehmann commented on #3122
I ran into this too. It really seems like incorrect behavior - the registry should return 404 in these cases. It triggered our alerting because 500 errors are usually a sign that something's wrong.

[2022-10-13 19:11] Jean-Daniel commented on #3041
I don't think it is possible to open a PR that performs a clean compilation of the project using a recent go toolchain and deploy it…

[2022-10-13 19:20] milosgajdos commented on #3041
What are you missing in the toolchain that prevents you from doing this work @Jean-Daniel?

[2022-10-13 19:27] Jean-Daniel commented on #3041
What I am saying is that only the project maintainers can decide to release a new version and publish it (which is all that is needed to fix this issue, as go 1.18 is compatible with recent acme protocol). No PR can do that for you.

[2022-10-13 23:07] dancysoft opened #3750 "https://docs.docker.com/registry/spec/api/#content-digests is out of date"
File: [docs/spec/api.md](https://docs.docker.com/registry/spec/api/)

Right now https://docs.docker.com/registry/spec/api/#content-digests says that the algorithm must match `/[A-Fa-f0-9_+.-]+/`.  In 2020 this was corrected to `/[A-Za-z0-9_+.-]+/` in commit 639de6a02fc25a68afb68ee1787dd83621e73178.  The website has not been updated however.

[2022-10-14 08:28] bartengine27 commented on #3725
@ctrox https://github.com/rpardini/docker-registry-proxy

[2022-10-14 09:23] flixman opened #3751 "Need to build/upload docker images without a docker client"
My apologies if this is not the right place to ask this: in some machines in my company I do not have docker available, and I need to create images based on some tar.gz files. Right now, I have in place a script that works as expected by making use of the v2 REST API, that uploads the layer blobs, then the config file and finally the manifest. However, I am uploading all the layers (and some of th

[2022-10-15 00:15] sergioegutierrez commented on #3166
Hi all, I'm also interested in contributing to the use of JWKS for production environments and I'm already working in a solution. My proposal to avoid re-registering the access controller, is to spawn a go routine that periodically update the trusted keys on the access controller based in a configurable interval (REGISTRY_AUTH_TOKEN_PULLRATE)
For this feature to be complete the following points ne

[2022-10-15 00:16] tianon commented on #3041
So I guess the request is probably for a new version to be tagged/released (and to make sure the official release binaries for it are built with Go 1.18+)? :sweat_smile:

[2022-10-17 21:02] kevinlmadison opened #3752 "Some regions not supported still"
I see that this issue was resolved for other regions but not the gov region. https://github.com/distribution/distribution/issues/2498
It is failing in `us-gov-east-1`.
[code]

Is this an easy fix?

Thank you

[2022-10-17 21:25] ccravens commented on #3752
I'd also like to request adding us-gov-west-1 as well

[2022-10-18 03:07] munikera commented on #3010
@denschu Did you find what was the issue, I am experiencing the same result?

[2022-10-19 13:43] philippn commented on #1247
Just ran into this issue as well and first thought Azure storage was not working at all because the <no name> stuff only shows up via the portal (not in Azure Storage Explorer). Any news when this is gonna be merged? Thanks in advance!

[2022-10-19 19:47] milosgajdos commented on #3122
Should we close this @brackendawson now that https://github.com/distribution/distribution/pull/3365 has been merged?

[2022-10-20 08:55] brackendawson commented on #3122
I think so, yes. Fixed in 3.0

[2022-10-20 08:55] #3122 closed

[2022-10-20 11:59] Semmu commented on #3236
😠 Goddamn, I faced the same issue and didn't know what the hell was wrong with my setup, and turns out `library/` was missing in my pull commands...

[code]

vs

[code]

❓ Why the hell is this not mentioned anywhere in the official docs? https://docs.docker.com/registry/configuration/

[2022-10-20 13:15] milosgajdos commented on #3236
First things first @Semmu, your language is inappropriate, so please in the future restrain from the strong wording you used in your comment.

Second, beware, `distribution` project was donated to CNCF and `Docker` (the company) no longer owns it, however, it continues to maintain the documentation until CNCF puts up their own documentation pages, but that does not make them _official documentatio

[2022-10-20 15:38] Semmu commented on #3236
Hey @milosgajdos,

Sorry for my language, I edited my comment. I was just very frustrated after trying to debug this issue for literally hours.

Thanks for the explanation! I guess the main source of confusion is the implicit behavior of the docker pull CLI as it automatically prepends `library/` when no namespace is defined and we're pulling from the official Docker Hub.

[2022-10-20 15:40] milosgajdos commented on #3236
yes, this is correct; this was hardcoded many moons ago and now millions of clients depend on its working as is. That being said, as you had discovered pulling with an explicit `library` namespace works like a charm. We must make this clearer somehow, I agree.

[2022-10-25 20:46] chaospuppy opened #3756 "Cut release that includes update to aws-sdk-go dependency in support of IRSA"
# IRSA support by upgrading aws-sdk-go dependency
The version (`v1.15.11`) of the [aws-sdk-go](https://github.com/aws/aws-sdk-go) included in the latest tag of this repository (`v2.8.1`), is four years old and lacks the functionality required to facilitate IAM Role for Service Accounts (IRSA), which is now the preferred method of retrieving temporary credentials for AWS API calls in a kubernetes c

[2022-10-26 04:51] Orionx86 commented on #3725
I would also add, it might be beneficial to offer the proxy as well as a redirect function. That way registries can be pooled together for situations where caching isnt necessary but centralization is.

[2022-10-26 13:55] invidian commented on #3154
Same happens when given malformed Azure storage credentials:
[code]

[2022-10-29 22:39] pchico83 commented on #1362
@taynguyen I added this content to the `/etc/nsswitch.conf` file and still no luck:
[code]
I also set the env var `GODEBUG=netdns=cgo` with no luck either. I am running out of ideas, any help would be much appreciated :-)

[2022-11-02 18:53] anibmurthy opened #3765 "Deleting a tag is not cleaning up image layers"
I have a private registry instance (v2.8.1) running in a GKE cluster mapped to `local` (ephemeral) storage. I am observing an issue in deleting an image from registry using `DELETE /v2/<name>/manifests/<reference>`

[code]
Above query gives back a `202 Accepted` response. Rightfully, listing the tags after deletion call gives:
[code]

I would like to be able to clear this repository at this point

[2022-11-03 07:24] deleteriousEffect commented on #3765
@anibmurthy those layer files are shared by the entire repository, so cleaning them up on tag delete could impart a significant performance penalty since we'd need to do reference checking for each manifest contained in that repository.

This is something the garbage collector should do, although without exploring more deeply, there could be some hidden difficulty there.

This is the correct fix f

[2022-11-03 13:58] deleteriousEffect commented on #3765
https://github.com/distribution/distribution/blob/main/docs/garbage-collection.md

This is a manual process with downtime (or read-only time at least), it's not something you want to trigger unless you're comfortable automating downtime as well. Also note the `-m` flag will remove manifests with no tags, which is likely the behavior that you want.

[2022-11-03 16:19] Jamstah commented on #3233
This is green when running the latest conformance suite against distribution. Can this one be closed?

[2022-11-03 16:20] Jamstah commented on #3231
This is green when running the latest conformance suite against distribution. Can this one be closed?

[2022-11-03 16:21] Jamstah commented on #3230
The conformance test now seems to also accept a 202, so this is green in the latest conformance tests. Can this be closed?

[2022-11-03 16:24] Jamstah commented on #3234
This is green running with the latest suite against main. Can this be closed?

[2022-11-03 16:27] Jamstah commented on #3203
Not sure this can be closed, or at least, not any more.

With the latest conformance tests I get these failures:

[code]

Shall I go ahead and raise issues for them?

[2022-11-03 16:35] milosgajdos commented on #3203
`DELETE` ones are not required to pass the conformance check I believe.

[2022-11-03 16:36] milosgajdos commented on #3231
Yep, closing.

[2022-11-03 16:36] #3231 closed

[2022-11-03 16:36] milosgajdos commented on #3233
Yep, closing.